//- List of subsections

ul.forum-sections
  - each section in self.subsections
    - last_topic = section.cache.real.last_topic_hid || null
    - last_user = section.cache.real.last_user || null
    - last_ts = section.cache.real.last_ts || null
    li.forum-section
      //- Add 'unread' class & #id below, for new data
      .row
        .forum-section__summary.span7
          h3.forum-section__title
            a.forum-section__title-link(href=self.link_to('forum.section', section))= section.title

          - if (section.child_list && section.child_list.length > 0)
            ul.forum-section__subforums.hidden-phone
              - each sub_section in section.child_list
                li.forum-section__subforum-item
                  a.forum-section__subforum-link(href=self.link_to('forum.section', sub_section))= sub_section.title

          - if (section.moderator_list && section.moderator_list.length > 0)
            dl.forum-section__moderators.hidden-phone
              dt.forum-section__moderators-caption= self.t('moderators', { count: section.moderator_list.length })
              - each moderator in section.moderator_list
                - if (self.users[moderator])
                  dd.forum-section__moderator
                    a.forum-section__moderator-link._ucard-popover(
                      href=self.link_to('users.member', self.users[moderator]),
                      data-user-id=String(moderator)) #{self.users[moderator]._uname}

        ul.forum-section__counters.span2.hidden-phone
          li.forum-section__counter-item
            span.forum-section__counter-val #{section.cache.real.topic_count}
            = self.t('section_topics', { count: section.cache.real.topic_count })
          li.forum-section__counter-item
            span.forum-section__counter-val #{section.cache.real.post_count}
            = self.t('section_posts', { count: section.cache.real.post_count })

        - if (last_topic)
          ul.forum-section__lpost.span3.hidden-phone
            li.forum-section__lpost-title
              a.forum-section__lpost-title-link(href=self.link_to('forum.topic', { hid: last_topic, section_hid: section.hid }) +'#'+String(section.cache.real.last_post)) #{section.cache.real.last_topic_title}
            - if (self.users[last_user])
              li.forum-section__lpost-user
                = self.t('topic_by')
                - lp_user = self.users[last_user]
                a.forum-section__lpost-user-link._ucard-popover(
                  href=self.link_to('users.member', lp_user),
                  data-user-id=String(lp_user._id)) #{lp_user._uname}
            - if (last_ts)
              li.forum-section__lpost-time
                time(datetime=self.date(last_ts, 'iso')) #{self.date(last_ts, 'date')}
