//- List of subsections

ul.forum-sections
  - each section in self.subsections
    - last_topic = section.cache.last_topic_hid
    - last_user = self.users[section.cache.last_user]
    - last_ts = section.cache.last_ts
    li.forum-section
      //- Add 'unread' class & #id below, for new data
      .row
        .forum-section__summary.col-xs-9.col-sm-7
          h3.forum-section__title
            a.forum-section__title-link(href=self.link_to('forum.section', section))= section.title

          - if (section.child_list && section.child_list.length > 0)
            ul.forum-section__subforums.hidden-xs
              - each sub_section in section.child_list
                li.forum-section__subforum-item
                  a.forum-section__subforum-link(href=self.link_to('forum.section', sub_section))= sub_section.title

          - if (section.moderators && section.moderators.length > 0)
            dl.forum-section__moderators.hidden-xs
              dt.forum-section__moderators-caption= self.t('moderators', { count: section.moderators.length })
              - each moderator in section.moderators
                - var mod = self.users[moderator]
                - if (mod)
                  dd.forum-section__moderator
                    a.forum-section__moderator-link._ucard-popover(
                      href=self.link_to('users.member', { hid: mod.hid }),
                      data-user-id=mod._id
                    ) #{mod.name}

        ul.forum-section__counters.col-xs-3.col-sm-2
          li.forum-section__counter-item
            span.forum-section__counter-val #{section.cache.topic_count}
            = self.t('section_topics', { count: section.cache.topic_count })
          li.forum-section__counter-item
            span.forum-section__counter-val #{section.cache.post_count}
            = self.t('section_posts', { count: section.cache.post_count })

        - if (last_topic)
          ul.forum-section__lpost.col-sm-3.hidden-xs
            li.forum-section__lpost-title
              a.forum-section__lpost-title-link(
                href=self.link_to('forum.topic', { hid: last_topic, section_hid: section.hid }) +'#'+ section.cache.last_post
              ) #{section.cache.last_topic_title}
            - if (last_user)
              li.forum-section__lpost-user
                = self.t('topic_by')
                a.forum-section__lpost-user-link._ucard-popover(
                  href=self.link_to('users.member', { hid: last_user }),
                  data-user-id=last_user._id
                ) #{last_user.name}
            - if (last_ts)
              li.forum-section__lpost-time
                time(datetime=self.date(last_ts, 'iso')) #{self.date(last_ts, 'date')}
