include ./_pagination_micro

//- This template is used for:
//- - the whole page generation
//- - appending next page posts via autoload or "more" button
ul.tl-thread-list
  - var replies, views;
  - if (self.show_page_number)
    li.tl-head= self.t('forum.page_separator', { page: self.show_page_number })

  - each thread in self.threads
    - fp_user = thread.cache.real.first_user
    - lp_user = thread.cache.real.last_user
    - fp_ts   = thread.cache.real.first_ts
    - lp_ts   = thread.cache.real.last_ts
    li
      .row
        .span7.tl-item-summary
          h2
            a(href=self.link_to('forum.thread', thread))= thread.title
          //a.mark-i-attach._tip(href="#")=thread.attach_count
          - if (thread._pages_count > 1)
            //- micro-pagination
            - var route_params = { id: thread.id, forum_id: thread.forum_id }
            mixin pagination_micro('forum.thread', route_params, thread._pages_count)


          .tl-meta
            a.tl-preview-ctl.icon-more(href='#')= self.t('forum.action.thread_preview')
            - if (self.users[fp_user])
              a.usercard-popover.tl-starter(
                href=self.link_to('users.member', self.users[fp_user]),
                data-user-id=String(fp_user)) #{self.users[fp_user]._uname}
            time.tl-start-date(datetime=self.date(fp_ts, 'iso')) #{self.date(fp_ts, 'date')}

        ul.span2.tl-item-counters.hidden-phone
          - replies = thread.cache.real.post_count - 1;
          - views   = thread.views_count;
          li
            | #{replies}
            = self.t('forum.counter.thread_replies', { count: replies })
          li
            | #{views}
            = self.t('forum.counter.thread_views', { count: views })

        ul.span3.tl-item-lastpost.hidden-phone
          li.lastpost-time
            a(href='#')
              time(datetime=self.date(lp_ts, 'iso')) #{self.date(lp_ts, 'date')}
          - if (self.users[lp_user])
            li.lastpost-user
              a.usercard-popover(
                href=self.link_to('users.member', self.users[lp_user]),
                data-user-id=String(lp_user)) #{self.users[lp_user]._uname}
