mixin sections_tree(sections, deepness)
  each section in sections

    - var prefix = Array(deepness).join('\u2003\u2003');

    option.sections-exclude-dlg__section(
      data-on-click=self.apiPath + ':section_click'
      value=section._id
      disabled=!section.is_excludable
      selected=self.selected.indexOf(section._id) !== -1
    )=prefix + section.title

    if section.children && section.children.length
      +sections_tree(section.children, deepness + 1)


.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      form(data-on-submit=self.apiPath + ':submit')
        .modal-header
          h4.modal-title=self.t('title')
          button.btn-close(type='button' tabindex='-1' data-bs-dismiss='modal')
        .modal-body
          select.sections-exclude-dlg__sections.form-control(multiple=true tabindex='1' name='sections')
            +sections_tree(self.sections, 1)
        .modal-footer
          button.btn.btn-link.mr-auto(
            data-on-click=self.apiPath + ':unselect_all'
          )= self.t('unselect_all')
          button.btn.btn-secondary(type='button' tabindex='2' data-bs-dismiss='modal')=self.t('cancel')
          button.btn.btn-danger(type='submit' tabindex='3')=self.t('ok')
