#content.topic-create

  header.page-head
    h1.page-head__title(itemprop='name')= self.t('title')

  .clearfix
    .topic-create__content
      .form-group
        label= self.t('topic_title')
        input.topic-create__title.form-control
      .topic-create__editor
      .topic-create__buttons.clearfix
        .topic-create__buttons-blk.pull-right
          button.topic-create__toggle_preview.btn.btn-link(data-on-click='forum.topic_create:preview_toggle')=self.t('preview_toggle')
          | 
          button.topic-create__save.btn.btn-primary(data-on-click='forum.topic_create:save')=self.t('create')
        .topic-create__buttons-blk.pull-left
          button.topic-create__options-button.btn.btn-link(data-on-click='forum.topic_create:options')=self.t('options')
          .topic-create__options
            .checkbox
              label
                label
                  input.topic-create__medialinks(type='checkbox' data-on-change='forum.topic_create:opt_medialinks')
                  = self.t('options_medialinks')
            .checkbox
              label
                label
                  input.topic-create__smiles(type='checkbox' data-on-change='forum.topic_create:opt_smiles')
                  = self.t('options_smiles')
      .topic-create__preview
