h1= thread.title

ul
  - each post in posts
    li
      div.head
        p #{post.user}
        p #{post.ts}
      div.userpic
        p userpic should be hear
      div.message= post.text

a(href=link_to('forum.section.show', {id: thread.forum_id})) Show threads
