#content
  != self.partial('@admin.core.blocks.sidebar_menu', { menu: self.runtime.menus.admin })

  .main
    != self.partial('@admin.core.blocks.breadcrumbs', { menu: self.runtime.menus.admin, path: self.blocks.breadcrumbs })

    h1 #{self.head.title}

    mixin sections_tree(sections)
      each section in sections
        li.section-group
          .section-control
            .section-title
              a(href="#", data-toggle="collapse", data-target="#section_#{section._id}") #{section.title}
              a.icon-collapse(href="#", data-toggle="collapse", data-target="#section_#{section._id}")

            ul.section-usergroup-list.collapse(id="section_#{section._id}", data-notify="#section_#{section._id}")
              each usergroup in self.usergroups
                //- Count of overriden permission settings.
                overriden = section.overriden[usergroup._id]

                //- CSS class for current usergroup <li>
                if overriden >= self.settings_total
                  usergroup_class = 'section-usergroup-all-overriden'
                else if overriden > 0
                  usergroup_class = 'section-usergroup-some-overriden'
                else
                  usergroup_class = 'section-usergroup-none-overriden'

                li
                  a(href=self.link_to('admin.forum.group_permissions.edit', { section_id: section._id, usergroup_id: usergroup._id }))
                    = usergroup.localized_name
                  span(class=usergroup_class)
                    = self.t('overriden_permissions_count', { count: overriden, total: self.settings_total })

          if section.children.length > 0
            ul.section-list.section-children
              mixin sections_tree(section.children)


    ul.section-list
      mixin sections_tree(self.sections)
