#content
  != self.partial('@admin.core.blocks.sidebar_menu', { menu: self.runtime.menus.admin })

  .main
    != self.partial('@admin.core.blocks.breadcrumbs', { menu: self.runtime.menus.admin, path: self.blocks.breadcrumbs })

    h1 #{self.head.title}

    mixin sections_tree(sections)
      each section in sections
        li.section-group
          .section-control
            .section-title
              a(href="#", data-toggle="collapse", data-target="#section_#{section._id}") #{section.title}
              a.icon-collapse(href="#", data-toggle="collapse", data-target="#section_#{section._id}")

            ul.section-usergroup-list.collapse.in(id="section_#{section._id}")
              each usergroup in self.usergroups
                own_count       = section.own_settings_count[usergroup._id]
                inherited_count = section.inherited_settings_count[usergroup._id]
                total_count     = own_count + inherited_count

                //- Select override type.
                if total_count >= self.settings_count
                  override_type = 'every'
                else if total_count > 0
                  override_type = 'some'
                else
                  override_type = 'none'

                //- Append type modifier for 'every' and 'some' types.
                if own_count > 0
                  override_type = override_type + '-own'
                else if inherited_count > 0
                  override_type = override_type + '-inherited'

                li
                  a(class=('section-usergroup-override-' + override_type),
                    href=self.link_to('admin.forum.group_permissions.edit', { section_id: section._id, usergroup_id: usergroup._id }))
                    = usergroup.localized_name

          if section.children.length > 0
            ul.section-list.section-children
              mixin sections_tree(section.children)


    ul.section-list
      mixin sections_tree(self.sections)
