
//- create dropdown menu
mixin _page_progress_dropdown_menu()
  form.dropdown-menu.pgn__menu(
    data-on-submit='forum.topic:nav_to_post'
  )
    - var pgmpid = 'pgmid' + ~~(Math.random()*100000000);

    label.pgn__label.input(for=pgmpid)= self.t('dropdown_label')

    .input-group
      input.form-control(
        id=pgmpid
        name='post'
        type='number'
        min='1',
        max=self.max
        value=self.current
        placeholder=self.t('dropdown_placeholder')
      )
      span.input-group-btn
        button.btn.btn-default(type='submit')= self.t('dropdown_button')


ul.page-progress
  - var current = self.current;
  - var total   = self.max;

  //- ensure that current is in [1..total] range
  - current = Math.max(1, Math.min(current, total));

  li
    a.page-progress__button.icon.icon-collapse.icon-space-after(
      href= self.link_to('forum.topic', { section_hid: self.section_hid, topic_hid: self.topic_hid, post_hid: 1 })
    )

  li.dropdown
    a.page-progress__label.dropdown-toggle( 
      href='#'
      data-target='#'
      data-toggle='dropdown'
    )= self.t('label', { current: current, total: total })
    +_page_progress_dropdown_menu()

    .page-progress__graph
      .page-progress__graph-percentage(style="width: " + (current / total * 100).toFixed(2) + "%")

  li
    a.page-progress__button.icon.icon-expand.icon-space-before(
      href= self.link_to('forum.topic', { section_hid: self.section_hid, topic_hid: self.topic_hid, post_hid: self.max })
    )
