.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
  .modal-dialog
    .modal-content
      form(data-on-submit='forum.topic.title_edit_dlg:submit')
        .modal-header
          button.close(type='button' tabindex='-1' data-dismiss='modal') &times;
          h4.modal-title= self.t('title')
        .modal-body
          label= self.t('title_input_name')
          input.form-control(type='text' name='title' tabindex='1' value='#{self.title}')
        .modal-footer
          button.btn.btn-default(type='button' tabindex='2' data-dismiss='modal')= self.t('cancel')
          button.btn.btn-primary(type='submit' tabindex='3')= self.t('apply')
