- var topic = self.forum_topics[self.item.id];
- var section = self.forum_sections[topic.section];
- var user = self.users[topic.cache.last_user];
- var mark = self.read_marks[topic._id];
- var href;

if (mark.next !== -1)
  //- If user subscribed and unread messages in topic - go to first unread
  - href = self.link_to('forum.topic', { section_hid: section.hid, topic_hid: topic.hid, post_hid: mark.next });

else if (mark.position !== -1)
  //- If we have position info - go to last position
  - href = self.link_to('forum.topic', { section_hid: section.hid, topic_hid: topic.hid, post_hid: mark.position });

else
  //- Go to first post in topic
  - href = self.link_to('forum.topic', { section_hid: section.hid, topic_hid: topic.hid });

.user-tracker-item.user-tracker-item__m-forum-topic(
  class=mark.isNew ? 'user-tracker-item__m-new' : ''
  class=mark.next !== -1 ? 'user-tracker-item__m-unread' : ''
)
  .user-tracker-item__content
    h2.user-tracker-item__title
      a.user-tracker-item__title-link(href=href)=topic.title
    .user-tracker-item__desc
      a.user-tracker-item__desc-link(href=self.link_to('forum.section', { section_hid: section.hid }))=section.title

  .user-tracker-item__controls
    .user-tracker-item__updated
      != self.timetag(topic.cache.last_ts, 'relative')
    if user
      a.user-tracker-item__author._ucard-popover(
        href=self.link_to('users.member', { user_hid: user.hid })
        data-user-id=user._id
      )=user.name
