.forum-edit.clearfix
  .forum-edit__aside
    img.av-l(alt='#{self.user.name}' src=self.link_to('core.gridfs', { bucket: self.user.avatar_id }))

  .forum-edit__content
    .forum-edit__editor
    .forum-edit__buttons.clearfix
      .forum-edit__buttons-blk.pull-right
        button.forum-edit__cancel.btn.btn-link(data-on-click='forum.topic.post_edit:cancel')=self.t('cancel')
        | 
        button.forum-edit__toggle_preview.btn.btn-link(data-on-click='forum.topic.post_edit:preview_toggle')=self.t('preview_toggle')
        | 
        button.forum-edit__save.btn.btn-primary(data-on-click='forum.topic.post_edit:save')=self.t('save')
      .forum-edit__buttons-blk.pull-left
        button.forum-edit__options-button.btn.btn-link(data-on-click='forum.topic.post_edit:options')=self.t('options')
        .forum-edit__options
          .checkbox
            label
              label
                input.forum-edit__medialinks(type='checkbox' data-on-change='forum.topic.post_edit:opt_medialinks')
                = self.t('options_medialinks')
          .checkbox
            label
              label
                input.forum-edit__smiles(type='checkbox' data-on-change='forum.topic.post_edit:opt_smiles')
                = self.t('options_smiles')
    .forum-edit__preview.mdedit-preview
