- var topicStatuses = '$$ JSON.stringify(N.models.forum.Topic.statuses) $$'

each result in self.results
  - var show_as_deleted = result.topic.st === topicStatuses.DELETED || result.topic.st === topicStatuses.DELETED_HARD;
  .users-activity-item(
    id='item' + result.topic._id
    data-item-id=result.topic._id
    class= show_as_deleted ? 'users-activity-item__m-deleted' : ''
  )
    a.users-activity-item__title(
      href=self.link_to('forum.topic', { section_hid: result.section.hid, topic_hid: result.topic.hid })
    )= result.topic.title

    .users-activity-item__stat-narrow.d-sm-none
      a.users-activity-item__stat-link(
        href=self.link_to('forum.section', { section_hid: result.section.hid })
      )= result.section.title

    ul.users-activity-item__stat
      li.users-activity-item__stat-item
        != self.timetag(result.topic.cache.last_ts, 'relative')

      li.users-activity-item__stat-item.d-none.d-sm-inline-block
        a.users-activity-item__stat-link(
          href=self.link_to('forum.section', { section_hid: result.section.hid })
        )= result.section.title

      li.users-activity-item__stat-item
        = self.t('replies', result.topic.cache.post_count - 1)
