article#content.forum-index__root
  != self.partial('@common.blocks.breadcrumbs')

  //h1= t('forum.index.title')

  - each category in (self.subsections || [])
    article.forum-category(id='cat_box_#{category.hid}')
      header.forum-category__head(id='cat#{category.hid}')
        h2.forum-category__title
          a.forum-category__link(
            href='#cat#{category.hid}',
            data-toggle='collapse',
            data-target='#cat_list_#{category.hid}'
          )
            = category.title 
          a.forum-category__collapser.icon-collapse(
            href='#cat#{category.hid}',
            data-toggle='collapse',
            data-target='#cat_list_#{category.hid}'
          )
          a.forum-category__collapser.icon-expand(
            href='#cat#{category.hid}',
            data-toggle='collapse',
            data-target='#cat_list_#{category.hid}'
          )

      .forum-category__content(id='cat_list_#{category.hid}', data-notify='#cat_box_#{category.hid}').collapse.in
        != self.partial('@forum.blocks.sections_list', { subsections: category.child_list })

  footer
    - if (self.runtime.is_member)
      .btn-toolbar
        a.btn.btn-default.icon-check(href='#')= self.t('mark_all_read')
        | 
        a.btn.btn-default(href='#')= self.t('exclude', { count: 5 })

    .page-summary
      .page-summary__head= self.t('total_active.all', { count: 710, interval: 30 })
        .page-summary__subhead
          = self.t('total_active.members', { count: 128 })
          | , 
          = self.t('total_active.guests', { count: 567 })
          | , 
          = self.t('total_active.anonymous', { count: 6 })
      .page-summary__content
        ul.hlist
          li.hlist-item: a(href='#') Google
          li.hlist-item: a(href='#') Asso
          li.hlist-item: a(href='#') Warfo
          li.hlist-item: a(href='#') ibra
          li.hlist-item: a(href='#') Brandon
          li.hlist-item: a(href='#') hao-sama
          li.hlist-item: a(href='#') Lesovsky
          li.hlist-item: a(href='#') RUAHusker
          li.hlist-item: a(href='#') MSN/Bing

      .page-summary__head Total
      .page-summary__content
        ul.hlist
          li.hlist-item
            = self.t('total_topics', { count: 25 })
            strong 35836
          li.hlist-item
            = self.t('total_posts', { count: 3 })
            strong 456949
          li.hlist-item
            = self.t('total_members', { count: 3 })
            strong 269270
