article#content.forum-index-root
  != self.partial('@common.blocks.navbar.logo_apps', { search_tab: 'forum_topics' })

  nav.breadcrumbs-container
    .layout__container.container-fluid
      != self.partial('@common.blocks.breadcrumbs')

      span.breadcrumbs-controls
        if self.runtime.is_member
          button.btn.btn-secondary.btn-xs.icon.icon-sliders.icon-space-after(
            type='button'
            data-on-click='forum.index:exclude'
            title=self.t('sections_exclude_title')
          )= self.excluded_sections.length

        a.btn.btn-secondary.btn-xs(
          href= self.link_to('forum.index.recent')
          title=self.t('new_topics_title')
        )= self.t('new_topics')

  .layout__container.container-fluid
    != self.partial('@common.blocks.announces')

    each category in (self.subsections || [])
      article.forum-category(id='cat_box_' + category.hid)
        header.forum-category__head(id='cat' + category.hid)
          h2.forum-category__title
            a.forum-category__link(
              href='#cat' + category.hid
              data-bs-toggle='collapse'
              data-bs-target='#cat_list_' + category.hid
            )
              = category.title
            a.forum-category__collapser.icon.icon-collapse(
              href='#cat' + category.hid
              data-bs-toggle='collapse'
              data-bs-target='#cat_list_' + category.hid
            )
            a.forum-category__collapser.icon.icon-expand(
              href='#cat' + category.hid
              data-bs-toggle='collapse'
              data-bs-target='#cat_list_' + category.hid
            )

        .forum-category__content(id='cat_list_' + category.hid, data-notify='#cat_box_' + category.hid, data-category-hid=category.hid).collapse.show
          != self.partial('@forum.blocks.sections_list', { subsections: category.child_list })
