article#content
  != self.partial('@common.blocks.breadcrumbs', { path: self.blocks.breadcrumbs })

  //h1= t('forum.index.title')

  - each category in self.sections
    article.fl-category(id='cat_box_#{category.id}')
      header(id='cat#{category.id}')
        h2
          a(href='#cat#{category.id}', data-toggle='collapse', data-target='#cat_list_#{category.id}')
            = category.title 
          i.icon-collapse

      ul.fl-cat-list(id='cat_list_#{category.id}', data-notify='#cat_box_#{category.id}').collapse.in
        != self.partial('@forum.blocks.subsections_list', { subsections: category.child_list, users: self.users })

  footer
    - if (self.runtime.is_member)
      .btn-toolbar
        a.btn.icon-check(href='#')= self.t('mark_all_read')
        | 
        a.btn(href='#')= self.t('exclude', { count: 5 })

    dl.page-summary
      dt= self.t('total_active.all', { count: 710, interval: 30})
      dd.small
        = self.t('total_active.members', { count: 128 })
        | , 
        = self.t('total_active.guests', { count: 567 })
        | , 
        = self.t('total_active.anonymous', { count: 6 })
      dd
        ul.hlist
          li: a(href='#') Google
          li: a(href='#') Asso
          li: a(href='#') Warfo
          li: a(href='#') ibra
          li: a(href='#') Brandon
          li: a(href='#') hao-sama
          li: a(href='#') Lesovsky
          li: a(href='#') RUAHusker
          li: a(href='#') MSN/Bing


      dt Total
      dd
        ul.hlist
          li
            = self.t('total_topics', { count: 25 })
            strong 35 836
          li
            = self.t('total_posts', { count: 3 })
            strong 456 949
          li
            = self.t('total_members', { count: 3 })
            strong 269 270
