article#content.forum-index-root
  != self.partial('@common.blocks.breadcrumbs')

  .breadcrumbs
    if self.runtime.is_member
      button.btn.btn-default.btn-sm.icon.icon-sliders.icon-space-after(type='button'
        data-on-click='forum.index:exclude'
        title=self.t('sections_exclude_title')
      )= self.excluded_sections.length

      button.btn.btn-default.btn-sm.icon.icon-check(
        type='button'
        title= self.t('mark_all_read')
      )

  - each category in (self.subsections || [])
    article.forum-category(id='cat_box_#{category.hid}')
      header.forum-category__head(id='cat#{category.hid}')
        h2.forum-category__title
          a.forum-category__link(
            href='#cat#{category.hid}'
            data-toggle='collapse'
            data-target='#cat_list_#{category.hid}'
          )
            = category.title
          a.forum-category__collapser.icon.icon-collapse(
            href='#cat#{category.hid}'
            data-toggle='collapse'
            data-target='#cat_list_#{category.hid}'
          )
          a.forum-category__collapser.icon.icon-expand(
            href='#cat#{category.hid}'
            data-toggle='collapse'
            data-target='#cat_list_#{category.hid}'
          )

      .forum-category__content(id='cat_list_#{category.hid}', data-notify='#cat_box_#{category.hid}').collapse.in
        != self.partial('@forum.blocks.sections_list', { subsections: category.child_list })
