- var roles = '$$ JSON.stringify(N.models.forum.TopicHistory.roles) $$'

.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h4.modal-title= self.t('title')
        button.close(type='button', tabindex='-1', data-dismiss='modal') &times;
      .modal-body.forum-topic-history-dlg__content
        each entry in self.entries.reverse()
          - var user = self.users[entry.user];

          .forum-topic-history-entry(
            class=entry.role === roles.USER ? 'forum-topic-history-entry__m-user' : ''
            class=entry.role === roles.MODERATOR ? 'forum-topic-history-entry__m-moderator' : ''
            class=entry.role === roles.TASK ? 'forum-topic-history-entry__m-task' : ''
          )
            .forum-topic-history-entry__meta
              span.forum-topic-history-entry__meta-ts!= self.timetag(entry.ts, 'relative')
              if user
                a.forum-topic-history-entry__meta-author-link(href=self.link_to('users.member', { user_hid: user.hid }))
                  = user.nick
              span.forum-topic-history-entry__icon-task(
                title=self.t('role_task')
              )= '*'
              span.forum-topic-history-entry__icon-moderator(
                title=self.t('role_moderator')
              )= '*'

            if entry.title_diff
              .forum-topic-history-entry__title
                != entry.title_diff

            if entry.actions && entry.actions.length > 0
              .forum-topic-history-entry__actions
                each d in entry.actions
                  - var key = d[0], value = d[1], new_value = d[2];
                  .forum-topic-history-entry__action-item
                    case key
                      when 'move'
                        .diff-line
                          - var old_section = self.sections[value] || {};
                          - var old_link = self.link_to('forum.section', { section_hid: old_section.hid });
                          - var new_section = self.sections[new_value] || {};
                          - var new_link = self.link_to('forum.section', { section_hid: new_section.hid });
                          != self.t('action_move', { old_title: old_section.title, old_link: old_link, new_title: new_section.title, new_link: new_link })
                      when 'delete'
                      when 'hard_delete'
                        .diff-line
                          = self.t('action_' + key)
                          if value
                            = ' ' + self.t('del_reason', { text: value })
                      default
                        .diff-line= self.t('action_' + key)
