article#content.forum-topic-root
  != self.partial('@common.blocks.breadcrumbs', { path: self.blocks.breadcrumbs })

  header.page-head
    h1.page-head__title(itemprop='name')= self.thread.title
    - if (self.thread._seo_desc)
      p.page-head__descr(itemprop='description')
        | #{self.thread._seo_desc}

  nav.controlbar-keeper
    #floatbar
      .container
        .btn-toolbar.controlbar.clearfix
          .btn-group.pull-left
            a.btn.btn-icon-only.icon-back(
              href=self.link_to('forum.section', { id: self.thread.forum_id }))

          - if (self.page.max > 1)
            - var link_params = { id: self.thread.id, forum_id: self.thread.forum_id }
            .btn-group.pull-left.hidden-phone-vert
              != self.partial('@common.blocks.pagination', { route: self.apiPath, params: link_params, current: self.page.current, max_page: self.page.max })

          .btn-group.pull-right
            a.btn.icon-options.dropdown-toggle(href='#', data-toggle='dropdown')
              span.caret
            ul.dropdown-menu
              li: a(href='#')= self.t('thread_delete')
              li: a(href='#')= self.t('thread_close')
              li.divider
              li: a(href='#')= self.t('thread_pin')
              li: a(href='#')= self.t('thread_history')
              li: a(href='#')= self.t('thread_approve')
              li: a(href='#')= self.t('thread_merge')

          - if (self.runtime.is_member)
            .btn-group.pull-right
              a.btn.icon-track.tip(href='#', title=self.t('thread_subscribe')) 24

          - if (self.settings.forum_reply_topics)
            .btn-group.pull-right
              a.btn.btn-primary(href='#')= self.t('post_add')


  != self.partial('@forum.blocks.posts_list', { thread: self.thread, posts: self.posts, users: self.users })

  //- Button "More Threads"
  - var link_params = { id: self.thread.id, forum_id: self.thread.forum_id, page: self.page.current + 1 };
  - var btn_more_state = (self.page.max === 1 || self.page.max === self.page.current) ? "hidden" : ""
  a.btn.btn-block.icon-more(
    class=btn_more_state,
    href=self.link_to(self.apiPath, link_params),
    data-on-click="forum.thread.append_next_page")= self.t('more_posts')
