-
  var map = {
    '&': '&amp;',
    '<': '&lt;',
    '>': '&gt;',
    '"': '&quot;',
    "'": '&#39;'
  };

  function escape_html(text) {
    return text.replace(/[&<>"']/g, function (ch) {
      return map[ch];
    });
  }

p
  - var profile_name = pug.escape(self.author.user_name);
  - var profile_url = pug.escape(self.link_to('users.member', { user_hid: self.author.user_hid }));
  !=self.t('header', { url: '<a href="' + profile_url + '">' + profile_name + '</a>' })

if self.move_to_link
  -
    var move_to_args = {
      move_from_link: self.move_from_link,
      move_from_title: self.move_from_title,
      move_to_link: self.move_to_link,
      move_to_title: self.move_to_title,
      src_title: self.src_title,
      src_url: self.src_url
    }
  p!= self.t('move_to', move_to_args)
  p!= self.t('move_link')
  a(href=self.move_link)= self.move_link
else
  blockquote=self.report_text

p: a(href=self.src_url)=self.t('to')

blockquote!=self.src_html

if self.recipients && self.recipients.length
  p=self.t('message_sent_to')
    each recipient, index in self.recipients
      a(href=self.link_to('users.member', { user_hid: recipient.user_hid }))=recipient.user_name
      if index !== self.recipients.length - 1
       | , 

p: a(href=self.report_topic_url)=self.t('report_topic')
