- self.add_raw_data('setting_schemas',    self.setting_schemas)
- self.add_raw_data('settings',           self.settings)
- self.add_raw_data('parent_settings',    self.parent_settings)
- self.add_raw_data('usergroup_settings', self.usergroup_settings)


#content
  != self.partial('@admin.core.blocks.sidebar_menu')

  .main
    != self.partial('@admin.core.blocks.breadcrumbs')

    .page-head
      h1.page-head__title= self.head.title

    form#moderator_edit_form.form-horizontal(data-bind="submit: save", style="display: none")
      fieldset

        legend
          .float-xs-right(data-bind="visible: showRemoveButton")
            span.h5: a(href="#", data-bind="click: destroy") #{self.t('button_remove')}

          | #{self.moderator_name}

        // ko foreach: settings
        .form-group.form-group-hover.row(data-bind="css: { overriden: overriden, inherited: inherited }")

          label.form-control-label.col-xs-3(data-bind="text: localizedName, attr: { 'for': elementId }")

          .col-xs-4.control-value
            // ko if: 'boolean' === type
            .switch
              input(type="checkbox", data-bind="checked: value, attr: { id: elementId }")
              label(data-yes=self.t('value_yes'), data-no=self.t('value_no'), data-bind="attr: { 'for': elementId }"): i
            // /ko

            // ko if: localizedHelp
            small.form-text.text-muted(data-bind="text: localizedHelp")
            // /ko

          .col-xs-4
            label.checkbox-inline
              input(type="checkbox", data-bind="checked: overriden")
              | 
              = self.t('checkbox_override')
        // /ko

      .form-group.row
        .col-xs-9.col-xs-offset-3
          button.btn.btn-primary(type="submit", data-bind="enable: isDirty")
            = self.t('button_save')
