#content
  != self.partial('@admin.core.blocks.sidebar_menu')

  .main
    != self.partial('@admin.core.blocks.breadcrumbs')

    .page-head
      h1.page-head__title= self.head.title

    - var moderators = self.moderators.filter(function(m) { return self.users[m._id]; });

    if moderators.length > 0
      ul.section-list
        each moderator in moderators
          .section-control
            .section-title
              a(href="#", data-bs-toggle="collapse", data-bs-target='#moderator_' + moderator._id)= self.users[moderator._id].name

            ul.section-moderator-list.collapse.show(id='moderator_' + moderator._id)
              each section in moderator.sections
                - var count, override_type
                - count = section.own + section.inherited;

                //- Select override type.
                if count >= self.settings_count
                  - override_type = 'every'
                else if count > 0
                  - override_type = 'some'
                else
                  - override_type = 'none'

                //- Append type modifier for 'every' and 'some' types.
                if section.own > 0
                  - override_type = override_type + '-own'
                else if section.inherited > 0
                  - override_type = override_type + '-inherited'

                li
                  span(class=('section-moderator-override-' + override_type))
                    = self.sections[section._id].title
                  | 
                  a(href=self.link_to('admin.forum.moderator.edit', { section_id: section._id, user_id: moderator._id }))
                    = self.t('button_edit')
                  | 
                  a(href="#",
                    data-on-click="admin.forum.moderator.destroy",
                    data-section-id=section._id,
                    data-user-id=moderator._id
                  )
                    = self.t('button_remove')
    else
      = self.t('no_moderators')
