#content
  != self.partial('@admin.core.blocks.sidebar_menu')

  .main
    != self.partial('@admin.core.blocks.breadcrumbs')

    .page-head
      h1.page-head__title= self.head.title

    form.form-horizontal(data-on-submit='admin.nntp.create.forum:submit')
      fieldset
        legend= self.t('legend_group_settings')

        .form-group.row
          label.col-form-label.col-3= self.t('field_name')
          .col-4
            input.form-control(type='text', name='name')

        .form-group.row
          label.col-form-label.col-3= self.t('field_source')
          .col-4
            select.form-control.custom-select(name='source')
              option(value='000000000000000000000000')= self.t('value_source_none')

              each source in self.nntp_sources
                - var prefix = '| ' + Array(source.level + 1).join('– ');

                option(value=source._id)= prefix + source.title

      .form-group.row
        .col-9.col-offset-3
          button.btn.btn-primary(type='submit')= self.t('button_save')
