article
  include ../widgets/breadcrumbs

  //h1= t('forum.index.title')

  - each category in sections
    article.fl-category(id='cat_box_#{category.id}')
      header(id='cat#{category.id}')
        h2
          a(href='#cat#{category.id}', data-toggle='collapse', data-target='#cat_list_#{category.id}')= category.title
        a._collapser(href='#')

      ul.fl-cat-list(id='cat_list_#{category.id}', data-notify='#cat_box_#{category.id}').collapse.in

        - each forum in category.child_list
          - last_thread = forum.cache.real.last_thread_id || null
          - last_user = forum.cache.real.last_user || null
          - last_ts = forum.cache.real.last_ts || null
          li
            // Add 'unread' class & #id below, for new data
            .row
              .span7.fl-item-summary
                h3
                  a(href=link_to('forum.section', forum))= forum.title

                - if (forum.child_list && forum.child_list.length > 0)
                  ul.hlist.fl-subsections
                    - each sub_forum in forum.child_list
                      li
                        a(href=link_to('forum.section', sub_forum))= sub_forum.title

                - if (forum.moderator_list && forum.moderator_list.length > 0)
                  dl.def-hlist.fl-moderators
                    dt moderators:
                    - each moderator in forum.moderator_list
                      - if (users[moderator])
                        dd
                          a(href=link_to('users.member', users[moderator])) #{users[moderator].nick} 

              ul.span2.fl-item-counters.hidden-phone
                li
                  strong #{forum.cache.real.thread_count}
                  |  topics
                li 
                  strong #{forum.cache.real.post_count}
                  |  posts
              
              ul.span3.fl-item-lastpost.hidden-phone
                li.lastpost-title
                  a(href=link_to('forum.thread', {id: last_thread, forum_id: forum.id}) +'#'+forum.cache.real.last_post_id) #{forum.cache.real.last_thread_title}
                - if (users[last_user])
                  li.lastpost-user
                    | by 
                    - lp_user = users[last_user]
                    a(href=link_to('users.member', lp_user)) #{lp_user.nick}
                - if (last_ts)
                  li.lastpost-time
                    time(datetime=date(last_ts, 'iso')) #{date(last_ts, 'date')}

  footer
    .btn-toolbar
      a.btn.btn-small.icon-ok(href='#') Mark all read
      | 
      a.btn.btn-small(href='#') Exclude forums (5 now)
    
    dl.page-summary
      dt 710 active users in the past 30 minutes
      dd.small 128 members, 576 guests, 6 anonymous users:
      dd
        ul.hlist
          li
            a(href='#') Google
          li
            a(href='#') Asso
          li
            a(href='#') Warfo
          li
            a(href='#') ibra
          li
            a(href='#') Brandon
          li
            a(href='#') hao-sama
          li
            a(href='#') Lesovsky
          li
            a(href='#') RUAHusker
          li
            a(href='#') MSN/Bing


      dt Total
      dd
        ul.hlist
          li
            | Topics: 
            strong 35 836
          li
            | Posts: 
            strong 456 949
          li
            | Members: 
            strong 269 270
