include ./partials/_subsections_list

article
  include ../common/widgets/breadcrumbs

  //h1= t('forum.index.title')

  - each category in self.sections
    article.fl-category(id='cat_box_#{category.id}')
      header(id='cat#{category.id}')
        h2
          a(href='#cat#{category.id}', data-toggle='collapse', data-target='#cat_list_#{category.id}')= category.title
        a._collapser(href='#')

      ul.fl-cat-list(id='cat_list_#{category.id}', data-notify='#cat_box_#{category.id}').collapse.in
        - each forum in category.child_list
          mixin forum_child_list(forum)

  footer
    .btn-toolbar
      a.btn.btn-small.icon-ok(href='#')= self.t('forum.action.mark_all_read')
      | 
      a.btn.btn-small(href='#')= self.t('forum.action.exclude', { count: 5 })
    
    dl.page-summary
      dt= self.t('forum.counter.total_active.all', { count: 710, interval: 30})
      dd.small
        = self.t('forum.counter.total_active.members', { count: 128 })
        | , 
        = self.t('forum.counter.total_active.guests', { count: 567 })
        | , 
        = self.t('forum.counter.total_active.anonymous', { count: 6 })
      dd
        ul.hlist
          li: a(href='#') Google
          li: a(href='#') Asso
          li: a(href='#') Warfo
          li: a(href='#') ibra
          li: a(href='#') Brandon
          li: a(href='#') hao-sama
          li: a(href='#') Lesovsky
          li: a(href='#') RUAHusker
          li: a(href='#') MSN/Bing


      dt Total
      dd
        ul.hlist
          li
            = self.t('forum.counter.total_topics', { count: 25 })
            strong 35 836
          li
            = self.t('forum.counter.total_posts', { count: 3 })
            strong 456 949
          li
            = self.t('forum.counter.total_members', { count: 3 })
            strong 269 270
