article
  include ../widgets/breadcrumbs

  //h1= t('forum.index.title')

  - each category in sections
    article.fl-category(id='cat_box_#{category.id}', name=category.id)
      header
        h2(name=category.title)
          a(href='##{category.id}', data-toggle='collapse', data-target='#cat_list_#{category.id}')= category.title
        a._collapser(href='#')

      ul.fl-cat-list(id='cat_list_#{category.id}', data-notify='#cat_box_#{category.id}').collapse.in

        - each forum in category.child_list
          li
            // Add 'unread' class & #id below, for new data
            .row
              .span7.fl-item-summary
                h3
                  a(href=link_to('forum.section', forum))= forum.title

                ul.hlist.fl-subsections
                  li
                    a(href='#') Auto Gyros
                  li
                    a(href='#') Blimps
                  li
                    a(href='#') RC Kites
                  li
                    a(href='#') Content
                  li
                    a(href='#') Pipers 234 hjk
                  li
                    a(href='#') Auto Gyros
                  li
                    a(href='#') Blimps
                  li
                    a(href='#') RC Kites
                  li
                    a(href='#') Content
                  li
                    a(href='#') Auto Gyros
                  li
                    a(href='#') Blimps
                  li
                    a(href='#') RC Kites
                  li
                    a(href='#') Content

                - if (forum.moderators.length > 0)
                  dl.def-hlist.fl-moderators
                    dt moderators:
                    - each moderator in forum.moderators
                      dd
                        a(href='#') #{users[moderator].login} 

              ul.span2.fl-item-counters.hidden-phone
                li
                  strong #{forum.thread_count}
                  |  topics
                li 
                  strong #{forum.post_count}
                  |  posts
              
              ul.span3.fl-item-lastpost.hidden-phone
                li.lastpost-title
                  a(href='#') #{forum.last_thread.title}
                li.lastpost-user
                  | by 
                  a(href='#') #{users[forum.last_thread.user].login} 
                li.lastpost-time
                  time(date-time=forum.last_thread.ts.valueOf()) #{forum.last_thread.ts.toLocaleDateString()}

footer
  .btn-toolbar
    a.btn.btn-small.icon-ok(href='#') Mark all read
    | 
    a.btn.btn-small(href='#') Exclude forums (5 now)
  
  dl.page-summary
    dt 710 active users in the past 30 minutes
    dd.small 128 members, 576 guests, 6 anonymous users:
    dd
      ul.hlist
        li
          a(href='#') Google
        li
          a(href='#') Asso
        li
          a(href='#') Warfo
        li
          a(href='#') ibra
        li
          a(href='#') Brandon
        li
          a(href='#') hao-sama
        li
          a(href='#') Lesovsky
        li
          a(href='#') RUAHusker
        li
          a(href='#') MSN/Bing


    dt Total
    dd
      ul.hlist
        li
          | Topics: 
          strong 35 836
        li
          | Posts: 
          strong 456 949
        li
          | Members: 
          strong 269 270
