include ../widgets/breadcrumbs

//h1= t('forum.index.title')

- each category in sections
  article.fl-category
    header
      h2(name=category.title)= category.title
      a._collapser(href='#')

    ul.fl-cat-list  

      - each forum in category.child_list
        li
          // Add 'unread' class below, for new data
          .row
            .span7.fl-item-summary
              h3
                a(href=link_to('forum.section.show', forum))= forum.title
            
            ul.span2.fl-item-counters.hidden-phone
              li
                strong 345
                |  topics
              li 
                strong 78 901
                |  posts
            
            ul.span3.fl-item-lastpost.hidden-phone
              li.lastpost-title
                a(href='#') #{forum.last_thread.title}
              li.lastpost-user
                | by 
                a(href='#') #{forum.last_user} User username Name
              li.lastpost-time #{forum.last_ts}
