article
  include ../widgets/breadcrumbs

  //h1= t('forum.index.title')

  - each category in sections
    article.fl-category(id='cat_box_#{category.id}')
      header(id='cat#{category.id}')
        h2
          a(href='#cat#{category.id}', data-toggle='collapse', data-target='#cat_list_#{category.id}')= category.title
        a._collapser(href='#')

      ul.fl-cat-list(id='cat_list_#{category.id}', data-notify='#cat_box_#{category.id}').collapse.in

        - each forum in category.child_list
          - last_thread = forum.cache.real.last_thread_id || null
          - last_user = forum.cache.real.last_user || null
          - last_ts = forum.cache.real.last_ts || null
          li
            //- Add 'unread' class & #id below, for new data
            .row
              .span7.fl-item-summary
                h3
                  a(href=link_to('forum.section', forum))= forum.title

                - if (forum.child_list && forum.child_list.length > 0)
                  ul.hlist.fl-subsections
                    - each sub_forum in forum.child_list
                      li
                        a(href=link_to('forum.section', sub_forum))= sub_forum.title

                - if (forum.moderator_list && forum.moderator_list.length > 0)
                  dl.def-hlist.fl-moderators
                    dt= t('forum.moderators', { count: forum.moderator_list.length })
                    - each moderator in forum.moderator_list
                      - if (users[moderator])
                        dd
                          a(href=link_to('users.member', users[moderator])) #{users[moderator]._uname} 

              ul.span2.fl-item-counters.hidden-phone
                li
                  strong #{forum.cache.real.thread_count}
                  = t('forum.counter.forum_topics', { count: forum.cache.real.thread_count })
                li 
                  strong #{forum.cache.real.post_count}
                  = t('forum.counter.forum_posts', { count: forum.cache.real.post_count })
              
              ul.span3.fl-item-lastpost.hidden-phone
                li.lastpost-title
                  a(href=link_to('forum.thread', {id: last_thread, forum_id: forum.id}) +'#'+forum.cache.real.last_post_id) #{forum.cache.real.last_thread_title}
                - if (users[last_user])
                  li.lastpost-user
                    = t('forum.topic_by') 
                    - lp_user = users[last_user]
                    a(href=link_to('users.member', lp_user)) #{lp_user._uname}
                - if (last_ts)
                  li.lastpost-time
                    time(datetime=date(last_ts, 'iso')) #{date(last_ts, 'date')}

  footer
    .btn-toolbar
      a.btn.btn-small.icon-ok(href='#')= t('forum.action.mark_all_read')
      | 
      a.btn.btn-small(href='#')= t('forum.action.exclude', { count: 5 })
    
    dl.page-summary
      dt= t('forum.counter.total_active.all', { count: 710, interval: 30})
      dd.small
        = t('forum.counter.total_active.members', { count: 128 })
        | , 
        = t('forum.counter.total_active.guests', { count: 567 })
        | , 
        = t('forum.counter.total_active.anonymous', { count: 6 })
      dd
        ul.hlist
          li
            a(href='#') Google
          li
            a(href='#') Asso
          li
            a(href='#') Warfo
          li
            a(href='#') ibra
          li
            a(href='#') Brandon
          li
            a(href='#') hao-sama
          li
            a(href='#') Lesovsky
          li
            a(href='#') RUAHusker
          li
            a(href='#') MSN/Bing


      dt Total
      dd
        ul.hlist
          li
            = t('forum.counter.total_topics', { count: 25 })
            strong 35 836
          li
            = t('forum.counter.total_posts', { count: 3 })
            strong 456 949
          li
            = t('forum.counter.total_members', { count: 3 })
            strong 269 270
