h1= t('forum.index.title')

.threads
  ul
    - each category in sections
      li
        a(href=link_to('forum.section.show', category))= category.title
        - each forum in category.child_list
          ul
            li
              a(href=link_to('forum.section.show', forum))= forum.title
              p #{forum.last_thread.title}
              p #{forum.last_ts}
              p #{forum.last_user}
