article.forum-threadlist
  include ../widgets/breadcrumbs

  header.page-head
    h1(itemprop='name')= forum.title
    p(itemprop='description')
      | #{forum.description}

  //- Subforums, if exist
  - if (sections && sections.length)
    ul.fl-cat-list
      - each sub_forum in sections
        - last_thread = sub_forum.cache.real.last_thread_id
        - last_user = sub_forum.cache.real.last_user
        - last_ts = sub_forum.cache.real.last_ts
        li
          // Add 'unread' class & #id below, for new data
          .row
            .span7.fl-item-summary
              h3
                a(href=link_to('forum.section', sub_forum))= sub_forum.title

              - if (sub_forum.child_list && sub_forum.child_list.length)
                ul.hlist.fl-subsections
                  - each third_level in sub_forum.child_list
                    li
                      a(href=link_to('forum.section', third_level))= third_level.cache.real.last_thread_title

              - if (sub_forum.moderator_list && sub_forum.moderator_list.length)
                dl.def-hlist.fl-moderators
                  dt moderators:
                  - each moderator in sub_forum.moderator_list
                    - if (users[moderator])
                      dd
                        a(href=link_to('users.member', users[moderator])) #{users[moderator].nickname} 

            ul.span2.fl-item-counters.hidden-phone
              li
                strong #{sub_forum.cache.real.thread_count}
                |  topics
              li 
                strong #{sub_forum.cache.real.post_count}
                |  posts
            
            ul.span3.fl-item-lastpost.hidden-phone
              li.lastpost-title
                a(href=link_to('forum.thread', {id: last_thread, forum_id: sub_forum.id}) +'#'+sub_forum.cache.real.last_post_id) #{sub_forum.cache.real.last_thread_title}
              - if (users[last_user]) 
                li.lastpost-user
                  | by 
                  a(href=link_to('users.member', users[last_user])) #{users[last_user].nickname} 
              li.lastpost-time
                time(date-time=date(last_ts, 'iso')) #{date(last_ts, 'date')}

  - if (forum.is_category === false)
    //- Toolbar with pagination & controls
    nav.btn-toolbar.controlbar
      .btn-group
        a.btn.btn-small.btn-icon-only.icon-left-bold(href='#')

      - if (threads && threads.length)
        .btn-group
          ul.pagination
            li
              a(href='#') 1
            li.dropdown
              a.more.dropdown-toggle(href='#', data-toggle='dropdown') ...
              form.dropdown-menu
                label.input Jump to:
                  .input-append
                    input.input-small(type='text', size='8', placeholder='Page number')
                    button.btn.btn-inverse(type='button') Go!
            li
              a(href='#') 13
            li
              a(href='#') 14
            li.dropdown
              a.current.dropdown-toggle(href='#', data-toggle='dropdown') 15
              form.dropdown-menu
                label.input Jump to:
                  .input-append
                    input.input-small(type='text', size='8', placeholder='Page number')
                    button.btn.btn-inverse(type='button') Go!
            li
              a(href='#') 16
            li
              a(href='#') 17
            li.dropdown
              a.more.dropdown-toggle(href='#', data-toggle='dropdown') ...
              form.dropdown-menu
                label.input Jump to:
                  .input-append
                    input.input-small(type='text', size='8', placeholder='Page number')
                    button.btn.btn-inverse(type='button') Go!
            li
              a(href='#') 325

      .btn-group.pull-right
        a.btn.btn-small.icon-cog.dropdown-toggle(href='#', data-toggle='dropdown')
          span.caret
        ul.dropdown-menu
          li
            a(href='#') Announce
          li
            a(href='#') Add moderator
          li
            a(href='#') Mass move
          li
            a(href='#') Mass prune
      .btn-group.pull-right
        a.btn.btn-small.icon-eye.tip(href='#', title='Subscribe to new topics notification') 24
      .btn-group.pull-right
        a.btn.btn-small.btn-icon-only.icon-ok.tip(href='#', title='Mark all read')
      .btn-group.pull-right
        a.btn.btn-small.btn-primary.icon-doc-text(href='#') New Topic



    ul.tl-thread-list
      - each thread in threads
        - fp_user = thread.cache.real.first_user
        - lp_user = thread.cache.real.last_user
        - fp_ts   = thread.cache.real.first_ts
        - lp_ts   = thread.cache.real.last_ts
        li
          .row
            .span7.tl-item-summary
              h2
                a(href=link_to('forum.thread', thread))= thread.title
              //a.mark-i-attach._tip(href="#")=thread.attach_count
              ul.tl-pages
                li
                  a(href='#') 1
                li
                  a(href='#') 2
                li
                  a(href='#') 3
              .tl-meta
                a.tl-preview-ctl.icon-down(href='#') Preview
                - if (users[fp_user])
                  a.tl-starter(href=link_to('users.member', users[fp_user])) #{users[fp_user].nickname}
                time.tl-start-date(date-time=date(fp_ts, 'iso')) #{date(fp_ts, 'date')}

            ul.span2.tl-item-counters.hidden-phone
              li #{thread.cache.real.post_count} replies
              li #{thread.cache._views_count} vews

            ul.span3.tl-item-lastpost.hidden-phone
              li.lastpost-time
                a(href='#')
                  time(date-time=date(lp_ts, 'iso')) #{date(lp_ts, 'date')}
              - if (users[lp_user])
                li.lastpost-user
                  a(href=link_to('users.member', users[lp_user])) #{users[lp_user].nickname}
