include ../widgets/breadcrumbs

h1= forum.title

.threads
  ul
    - each thread in threads
      li.tl-row.clearfix
        .tl-last-col
          .tl-title
            h2
              a(href=link_to('forum.thread', thread))= thread.title
            a.mark-i-attach._tip(href="#")=thread.attach_count
          footer.tl-meta
            p #{thread.first_user}
            time.tl-start-date
              p #{thread.first_ts}
          .tl-row-pages
        ul.tl-stat-col
          li
            p #{thread.post_count}
          li
            p #{thread.views_count}
        ul.tl-last-col
          li.tl-last-date
            p #{thread.last_ts}
          li.tl-last-author
            p #{thread.last_user}
