include ../widgets/pagination

article.forum-threadlist
  include ../widgets/breadcrumbs

  header.page-head
    h1(itemprop='name')= forum.title
    p(itemprop='description')
      | #{forum.description}

  //- Subforums, if exist
  - if (sections && sections.length)
    ul.fl-cat-list
      - each sub_forum in sections
        - last_thread = sub_forum.cache.real.last_thread_id || null
        - last_user = sub_forum.cache.real.last_user || null
        - last_ts = sub_forum.cache.real.last_ts || null
        li
          // Add 'unread' class & #id below, for new data
          .row
            .span7.fl-item-summary
              h3
                a(href=link_to('forum.section', sub_forum))= sub_forum.title

              - if (sub_forum.child_list && sub_forum.child_list.length)
                ul.hlist.fl-subsections
                  - each third_level in sub_forum.child_list
                    li
                      a(href=link_to('forum.section', third_level))= third_level.cache.real.last_thread_title

              - if (sub_forum.moderator_list && sub_forum.moderator_list.length)
                dl.def-hlist.fl-moderators
                  dt moderators:
                  - each moderator in sub_forum.moderator_list
                    - if (users[moderator])
                      dd
                        a(href=link_to('users.member', users[moderator])) #{users[moderator]._uname} 

            ul.span2.fl-item-counters.hidden-phone
              li
                strong #{sub_forum.cache.real.thread_count}
                |  topics
              li 
                strong #{sub_forum.cache.real.post_count}
                |  posts
            
            ul.span3.fl-item-lastpost.hidden-phone
              li.lastpost-title
                a(href=link_to('forum.thread', {id: last_thread, forum_id: sub_forum.id}) +'#'+sub_forum.cache.real.last_post_id) #{sub_forum.cache.real.last_thread_title}
              - if (users[last_user]) 
                li.lastpost-user
                  | by 
                  a(href=link_to('users.member', users[last_user])) #{users[last_user]._uname} 
              - if (last_ts)
                li.lastpost-time
                  time(datetime=date(last_ts, 'iso')) #{date(last_ts, 'date')}

  - if (forum.is_category === false)
    //- Toolbar with pagination & controls
    nav.btn-toolbar.controlbar
      .btn-group
        a.btn.btn-small.btn-icon-only.icon-left-bold(href='#')

      - if (threads && threads.length && page.max > 1)
        - base_params = { id: forum.id }
        .btn-group
          mixin pagination(head.apiPath, base_params, page.current, page.max)

      .btn-group.pull-right
        a.btn.btn-small.icon-cog.dropdown-toggle(href='#', data-toggle='dropdown')
          span.caret
        ul.dropdown-menu
          li
            a(href='#') Announce
          li
            a(href='#') Add moderator
          li
            a(href='#') Mass move
          li
            a(href='#') Mass prune
      .btn-group.pull-right
        a.btn.btn-small.icon-eye.tip(href='#', title='Subscribe to new topics notification') 24
      .btn-group.pull-right
        a.btn.btn-small.btn-icon-only.icon-ok.tip(href='#', title='Mark all read')
      .btn-group.pull-right
        a.btn.btn-small.btn-primary.icon-doc-text(href='#') New Topic



    - if (threads && threads.length)
      include ./section_threads

      //- Button "More Threads"
      - var params = { id: forum.id }; params.page = ~~page.current + 1;
      - var btn_more_state = (page.max > 1 && page.max > page.current) ? "" : "hidden"
      div(class=btn_more_state)
        a.btn.wide.icon-down(class=btn_more_state, href=link_to(head.apiPath, params), data-action="forum.section.append_next_page", data-forum-id=forum.id, data-current-page=page.current, data-max-page=page.max)= t('forum.more_threads')

    - else
      .message
        h1= t('forum.no_threads')
