include ../widgets/pagination

article.forum-threadlist
  include ../widgets/breadcrumbs

  header.page-head
    h1(itemprop='name')= self.forum.title
    p(itemprop='description')
      | #{self.forum.description}

  //- Subforums, if exist
  - if (self.sections && self.sections.length)
    ul.fl-cat-list
      - each sub_forum in self.sections
        - last_thread = sub_forum.cache.real.last_thread_id || null
        - last_user = sub_forum.cache.real.last_user || null
        - last_ts = sub_forum.cache.real.last_ts || null
        li
          // Add 'unread' class & #id below, for new data
          .row
            .span7.fl-item-summary
              h3
                a(href=self.link_to('forum.section', sub_forum))= sub_forum.title

              - if (sub_forum.child_list && sub_forum.child_list.length)
                ul.hlist.fl-subsections
                  - each third_level in sub_forum.child_list
                    li
                      a(href=self.link_to('forum.section', third_level))= third_level.cache.real.last_thread_title

              - if (sub_forum.moderator_list && sub_forum.moderator_list.length)
                dl.def-hlist.fl-moderators
                  dt moderators:
                  - each moderator in sub_forum.moderator_list
                    - if (self.users[moderator])
                      dd
                        a(href=self.link_to('users.member', self.users[moderator])) #{self.users[moderator]._uname} 

            ul.span2.fl-item-counters.hidden-phone
              li
                strong #{sub_forum.cache.real.thread_count}
                |  topics
              li 
                strong #{sub_forum.cache.real.post_count}
                |  posts
            
            ul.span3.fl-item-lastpost.hidden-phone
              li.lastpost-title
                a(href=self.link_to('forum.thread', {id: last_thread, forum_id: sub_forum.id}) +'#'+sub_forum.cache.real.last_post_id) #{sub_forum.cache.real.last_thread_title}
              - if (self.users[last_user]) 
                li.lastpost-user
                  | by 
                  a(href=self.link_to('users.member', self.users[last_user])) #{self.users[last_user]._uname} 
              - if (last_ts)
                li.lastpost-time
                  time(datetime=self.date(last_ts, 'iso')) #{self.date(last_ts, 'date')}

  - if (self.forum.is_category === false)
    //- Toolbar with pagination & controls
    nav.controlbar-keeper
      #floatbar
        .container
          .btn-toolbar.controlbar.clearfix
            .btn-group.pull-left
              a.btn.btn-small.btn-icon-only.icon-left-bold(href='#')

            - if (self.threads && self.threads.length && self.page.max > 1)
              - var link_params = { id: self.forum.id }
              .btn-group.pull-left
                mixin pagination(self.head.apiPath, link_params, self.page.current, self.page.max)

            .btn-group.pull-right
              a.btn.btn-small.icon-cog.dropdown-toggle(href='#', data-toggle='dropdown')
                span.caret
              ul.dropdown-menu
                li
                  a(href='#')= self.t('forum.action.section_announce')
                li
                  a(href='#')= self.t('forum.action.section_add_moderator')
                li
                  a(href='#')= self.t('forum.action.section_mass_move')
                li
                  a(href='#')= self.t('forum.action.section_mass_prune')
            .btn-group.pull-right
              a.btn.btn-small.icon-eye.tip(href='#', title=self.t('forum.action.section_subscribe')) 24
            .btn-group.pull-right
              a.btn.btn-small.btn-icon-only.icon-ok.tip(href='#', title=self.t('forum.action.section_mark_read_tip'))
            .btn-group.pull-right
              a.btn.btn-small.btn-primary.icon-doc-text(href='#')= self.t('forum.action.thread_create')

          //- left part, no `float left` to avoid deals with container height


    - if (self.threads && self.threads.length)
      include ./partials/threads_list

      //- Button "More Threads"
      - var link_params = { id: self.forum.id, page: self.page.current + 1 };
      - var btn_more_state = (self.page.max === 1 || self.page.max === self.page.current) ? "hidden" : ""
      a.btn.wide.icon-down(class=btn_more_state, href=self.link_to(self.head.apiPath, link_params), data-action="forum.section.append_next_page", data-forum-id=self.forum.id, data-current-page=self.page.current)= self.t('forum.action.more_threads')

    - else
      p
        strong= self.t('forum.no_threads')
