article
  include ../widgets/breadcrumbs

  header.page-head
    h1(itemprop='name')= forum.title
    p(itemprop='description')
      | #{forum.description}

  nav.btn-toolbar.controlbar
    .btn-group
      a.btn.btn-small.btn-icon-only.icon-left-bold(href='#')

    .btn-group
      ul.pagination
        li
          a(href='#') 1
        li.dropdown
          a.more.dropdown-toggle(href='#', data-toggle='dropdown') ...
          form.dropdown-menu
            label.input Jump to:
              .input-append
                input.input-small(type='text', size='8', placeholder='Page number')
                button.btn.btn-inverse(type='button') Go!
        li
          a(href='#') 13
        li
          a(href='#') 14
        li.dropdown
          a.current.dropdown-toggle(href='#', data-toggle='dropdown') 15
          form.dropdown-menu
            label.input Jump to:
              .input-append
                input.input-small(type='text', size='8', placeholder='Page number')
                button.btn.btn-inverse(type='button') Go!
        li
          a(href='#') 16
        li
          a(href='#') 17
        li.dropdown
          a.more.dropdown-toggle(href='#', data-toggle='dropdown') ...
          form.dropdown-menu
            label.input Jump to:
              .input-append
                input.input-small(type='text', size='8', placeholder='Page number')
                button.btn.btn-inverse(type='button') Go!
        li
          a(href='#') 325

    .btn-group.pull-right
      a.btn.btn-small.icon-cog.dropdown-toggle(href='#', data-toggle='dropdown')
        span.caret
      ul.dropdown-menu
        li
          a(href='#') Announce
        li
          a(href='#') Add moderator
        li
          a(href='#') Mass move
        li
          a(href='#') Mass prune
    .btn-group.pull-right
      a.btn.btn-small.icon-eye.tip(href='#', title='Subscribe to new topics notification') 24
    .btn-group.pull-right
      a.btn.btn-small.btn-icon-only.icon-ok.tip(href='#', title='Mark all read')
    .btn-group.pull-right
      a.btn.btn-small.btn-primary.icon-doc-text(href='#') New Topic

  ul.fl-cat-list(id='cat_list_#{forum.id}', data-notify='#cat_box_#{forum.id}').collapse.in
    - each sub_forum in sections
      li
        // Add 'unread' class & #id below, for new data
        .row
          .span7.fl-item-summary
            h3
              a(href=link_to('forum.section', sub_forum))= sub_forum.title

            - if (sub_forum.child_list.length > 0)
              ul.hlist.fl-subsections
                - each therd_level in sub_forum.child_list
                  li
                    a(href=link_to('forum.section', therd_level))= therd_level.title

            - if (sub_forum.moderators.length > 0)
              dl.def-hlist.fl-moderators
                dt moderators:
                  - each moderator in sub_forum.moderators
                    dd
                      a(href='#') #{users[moderator].login} 

          ul.span2.fl-item-counters.hidden-phone
            li
              strong #{sub_forum.thread_count}
              |  topics
            li 
              strong #{sub_forum.post_count}
              |  posts
          
          ul.span3.fl-item-lastpost.hidden-phone
            li.lastpost-title
              a(href='#') #{sub_forum.last_thread.title}
            li.lastpost-user
              | by 
              a(href='#') #{users[sub_forum.last_thread.user].login} 
            li.lastpost-time
              time(date-time=sub_forum.last_thread.ts.valueOf()) #{sub_forum.last_thread.ts.toLocaleDateString()}
a



  ul.tl-thread-list
    - each thread in threads
      li
        .row
          .span7.tl-item-summary
            h2
              a(href=link_to('forum.thread', thread))= thread.title
            //a.mark-i-attach._tip(href="#")=thread.attach_count
            ul.tl-pages
              li
                a(href='#') 1
              li
                a(href='#') 2
              li
                a(href='#') 3
            .tl-meta
              a.tl-preview-ctl.icon-down(href='#') Preview
              a.tl-starter(href='#') #{users[thread.first_post.user].first_name}  (#{users[thread.first_post.user].login}) #{users[thread.first_post.user].last_name}
              time.tl-start-date(date-time=thread.first_post.ts.valueOf()) #{thread.first_post.ts.toLocaleDateString()}

          ul.span2.tl-item-counters.hidden-phone
            li #{thread.post_count} replies
            li #{thread.views_count} vews

          ul.span3.tl-item-lastpost.hidden-phone
            li.lastpost-time
              a(href='#')
                time(date-time=thread.last_post.ts.valueOf()) #{thread.last_post.ts.toLocaleDateString()}
            li.lastpost-user
              a(href='#') #{users[thread.last_post.user].first_name}  (#{users[thread.last_post.user].login}) #{users[thread.last_post.user].last_name}
