include ../widgets/breadcrumbs

h1= thread.title

ul
  - each post in posts
    li
      .head
        p #{post.user}
        p #{post.ts}
      .userpic
        p userpic should be hear
      .message= post.text

a(href=link_to('forum.section', {id: thread.forum_id})) Show threads
