include ../widgets/pagination

article
  include ../widgets/breadcrumbs

  header.page-head
    h1(itemprop='name')= thread.title
    - if (thread._seo_desc)
      p(itemprop='description')
        | #{thread._seo_desc}

  nav.btn-toolbar.controlbar
    .btn-group
      a.btn.btn-small.btn-icon-only.icon-left-bold(href='#')

    - if (page.max > 1)
      .btn-group
        mixin pagination(head.apiPath, page.base_params, page.current, page.max)

    .btn-group.pull-right
      a.btn.btn-small.icon-cog.dropdown-toggle(href='#', data-toggle='dropdown')
        span.caret
      ul.dropdown-menu
        li
          a(href='#') Delete
        li
          a(href='#') Close
        li.divider
        li
          a(href='#') Pin
        li
          a(href='#') History
        li
          a(href='#') Approve
        li
          a(href='#') Merge
    .btn-group.pull-right
      a.btn.btn-small.icon-eye.tip(href='#', title='Subscribe to new posts notification') 24
    .btn-group.pull-right
      a.btn.btn-small.btn-primary(href='#') Add Reply


  - each post in posts
    article.forum-post.clearfix(id='post#{post.id}', itemscope, itemtype='http://schema.org/WebPageElement')
      footer.post-meta.clearfix
        - if (users[post.user])
          a.post-author.pull-left(href=link_to('users.member', users[post.user]))
            | #{users[post.user]._uname}
        .pull-right
          time.post-time(itemprop='datePublished', datetime=date(post.ts, 'iso')) #{date(post.ts, 'date')}
          - var _post_anchor = link_to('forum.thread', thread) + 'post' + post.id;
          a.post-permalink(href=_post_anchor) #
          input.post-check(type='checkbox')
      .post-aside
        - if (users[post.user])
          a.post-userpic(href='#')
            img.av-xl(alt='#{users[post.user]._uname}',src='http://lorempixel.com/150/150/sports/a' + '#{users[post.user].id}')
        - else
          .av-xl
      .post-content
        .message= post.text
        footer.post-controls.clearfix
          ul.pull-left
            li
              a.post-action(href='#') Report
            li
              a.post-action(href='#') IP
          ul.pull-right
            li
              a.post-action.icon-reply(href='#') Reply
            li
              a.post-action(href='#') Edit
            li
              a.post-action(href='#') Delete
            li
              a.vote-up(href='#')
              span.vote-count +47
              a.vote-down(href='#')

    - if (page.max > 1)
      .btn-group
        a.btn(data-action="forum.thread.pager", data-current-page=page.current, data-max-page=page.max) Next Page
