include ../widgets/pagination

article
  include ../widgets/breadcrumbs

  header.page-head
    h1(itemprop='name')= thread.title
    - if (thread._seo_desc)
      p(itemprop='description')
        | #{thread._seo_desc}

  nav.controlbar-keeper
    #floatbar
      .container
        .btn-toolbar.controlbar.clearfix
          .btn-group.pull-left
            a.btn.btn-small.btn-icon-only.icon-left-bold(href='#')

          - if (page.max > 1)
            - var link_params = { id: thread.id, forum_id: thread.forum_id }
            .btn-group.pull-left
              mixin pagination(head.apiPath, link_params, page.current, page.max)

          .btn-group.pull-right
            a.btn.btn-small.icon-cog.dropdown-toggle(href='#', data-toggle='dropdown')
              span.caret
            ul.dropdown-menu
              li
                a(href='#')= t('forum.action.thread_delete')
              li
                a(href='#')= t('forum.action.thread_close')
              li.divider
              li
                a(href='#')= t('forum.action.thread_pin')
              li
                a(href='#')= t('forum.action.thread_history')
              li
                a(href='#')= t('forum.action.thread_approve')
              li
                a(href='#')= t('forum.action.thread_merge')
          .btn-group.pull-right
            a.btn.btn-small.icon-eye.tip(href='#', title=t('forum.action.thread_subscribe')) 24
          .btn-group.pull-right
            a.btn.btn-small.btn-primary(href='#')= t('forum.action.post_add')


  include ./partials/posts_list

  //- Button "More Threads"
  - var link_params = { id: thread.id, forum_id: thread.forum_id, page: page.current + 1 };
  - var btn_more_state = (page.max === 1 || page.max === page.current) ? "hidden" : ""
  a.btn.wide.icon-down(class=btn_more_state, href=link_to(head.apiPath, link_params), data-action="forum.thread.append_next_page", data-forum-id=thread.forum_id, data-thread-id=thread.id, data-current-page=page.current)= t('forum.action.more_posts')
