include ../widgets/pagination

article
  include ../widgets/breadcrumbs

  header.page-head
    h1(itemprop='name')= thread.title
    - if (thread._seo_desc)
      p(itemprop='description')
        | #{thread._seo_desc}

  nav.btn-toolbar.controlbar
    .btn-group
      a.btn.btn-small.btn-icon-only.icon-left-bold(href='#')

    - if (page.max > 1)
      .btn-group
        mixin pagination(head.apiPath, page.base_params, page.current, page.max)

    .btn-group.pull-right
      a.btn.btn-small.icon-cog.dropdown-toggle(href='#', data-toggle='dropdown')
        span.caret
      ul.dropdown-menu
        li
          a(href='#') Delete
        li
          a(href='#') Close
        li.divider
        li
          a(href='#') Pin
        li
          a(href='#') History
        li
          a(href='#') Approve
        li
          a(href='#') Merge
    .btn-group.pull-right
      a.btn.btn-small.icon-eye.tip(href='#', title='Subscribe to new posts notification') 24
    .btn-group.pull-right
      a.btn.btn-small.btn-primary(href='#') Add Reply


  include ./thread_posts

  //- Button "More Threads"
  - var params = page.base_params; params.page = ~~page.current + 1;
  - var btn_more_state = (page.max > 1 && page.max > page.current) ? "" : "hidden"
  div(class=btn_more_state)
    a.btn.wide.icon-down(href=link_to(head.apiPath, params), data-action="forum.thread.append_next_page", data-forum-id=thread.forum_id, data-thread-id=thread.id, data-current-page=page.current, data-max-page=page.max)= t('forum.more_posts')
