
- var current  = self.current;
- var total    = self.max;
- var page_max = Math.ceil(total / self.per_page) || 1;

//- ensure that current is in [1..total] range
- current = Math.max(1, Math.min(current, total));

ul.nav.navbar-nav.page-progress(
  data-current=current
  data-total=total
  data-section=self.section.hid
)
  li.nav-item.page-progress__item
    a.nav-link.page-progress__button-first.icon.icon-to-top(
      href= self.link_to('forum.section', { section_hid: self.section.hid })
    )

  li.nav-item.page-progress__item.no-hover
    .nav-link.page-progress__info
      .page-progress__label
        span.page-progress__label-current= current
        span.page-progress__label-total= total
      .page-progress__bar
        .page-progress__bar-fill(style="width: " + (current / total * 100).toFixed(2) + "%")

  li.nav-item.page-progress__item
    a.nav-link.page-progress__button-last.icon.icon-to-bottom(
      href= self.link_to('forum.section', { section_hid: self.section.hid, topic_hid: self.last_topic_hid })
    )
