
//- create dropdown menu
mixin _page_progress_dropdown_menu()
  form.dropdown-menu.pgn__menu(
    data-on-submit='forum.section:nav_to_page'
  )
    - var pgmpid = 'pgmid' + ~~(Math.random()*100000000);

    label.pgn__label.input(for=pgmpid)= self.t('jump_to')

    .input-group
      input.page-progress__jump-input.form-control(
        id=pgmpid
        name='page'
        type='number'
        min=1
        max=self.max
        value=self.current
        placeholder=self.t('placeholder')
      )
      span.input-group-btn
        button.btn.btn-default(type='submit')= self.t('go')


- var current = self.current;
- var total   = self.max;

//- ensure that current is in [1..total] range
- current = Math.max(1, Math.min(current, total));

ul.page-progress(data-current=current, data-total=total, data-section=self.section.hid)
  li.page-progress__item
    a.page-progress__button-first.icon.icon-collapse(
      href= self.link_to('forum.section', { hid: self.section.hid, page: 1 })
    )

  li.page-progress__item.dropdown
    a.page-progress__info.dropdown-toggle(
      href='#'
      data-toggle='dropdown'
    )
      .page-progress__label= self.t('label', { current: current, total: total })
      .page-progress__bar
        .page-progress__bar-fill(style="width: " + (current / total * 100).toFixed(2) + "%")

    +_page_progress_dropdown_menu()

  li.page-progress__item
    a.page-progress__button-last.icon.icon-expand(
      href= self.link_to('forum.section', { hid: self.section.hid, page: self.max })
    )
