- self.add_raw_data('forum_topics_task', self.task_info);

#rebuild-forum-topics-task.rebuild-widget
  .rebuild-widget__title
    = self.t('title')
    | 
    small(data-bind='visible: started, text: (current() / total() * 100 || 0).toFixed(2) + "%"')

  progress.progress(
    value=0
    max=100
    data-bind='value: (current() / total() * 100) || 0'
  )

  div
    button.btn.btn-secondary(
      data-on-click='admin.core.rebuild.blocks.forum_topics.start'
      data-bind='visible: !started()'
    )= self.t('start')

    button.btn.btn-danger(
      data-on-click='admin.core.rebuild.blocks.forum_topics.stop'
      data-bind='visible: started'
      style='display: none'
    )= self.t('stop')
