- var topicStatuses = '$$ JSON.stringify(N.models.forum.Topic.statuses) $$'
- var subscriptionTypes = '$$ JSON.stringify(N.models.users.Subscription.types) $$'
- var topicOwnerId = self.topic.cache.first_user

- var items = []


if topicOwnerId === self.runtime.user_id

  if self.settings.forum_edit_max_time === 0 || new Date(self.topic.cache.first_ts).getTime() > Date.now() - self.settings.forum_edit_max_time * 60 * 1000
    if self.topic.st !== topicStatuses.DELETED && self.topic.st !== topicStatuses.DELETED_HARD
      - items.push('delete')

  if self.settings.forum_can_close_topic
    if self.topic.st === topicStatuses.OPEN || self.topic.ste === topicStatuses.OPEN
      - items.push('close')
    if self.topic.st === topicStatuses.CLOSED || self.topic.ste === topicStatuses.CLOSED
      - items.push('open')

if self.runtime.is_member
  - items.push('subscription')

if items.length > 0
  - items.push('divider')

- items.push('header')

if self.settings.forum_mod_can_delete_topics
  if self.topic.st === topicStatuses.DELETED || self.topic.st === topicStatuses.DELETED_HARD
    - items.push('mod_undelete')
  else
    - items.push('mod_delete')

if self.settings.forum_mod_can_close_topic
  if self.topic.st === topicStatuses.OPEN || self.topic.ste === topicStatuses.OPEN
    - items.push('mod_close')
  if self.topic.st === topicStatuses.CLOSED || self.topic.ste === topicStatuses.CLOSED
    - items.push('mod_open')

if self.settings.forum_mod_can_pin_topic
  if self.topic.st === topicStatuses.PINNED
    - items.push('mod_unpin')
  if self.topic.st === topicStatuses.OPEN || self.topic.st === topicStatuses.CLOSED
    - items.push('mod_pin')

//- If last item is header - remove it
if items.length > 0 && items[items.length - 1] === 'header'
  - items.pop()

//- If last item is devider - remove it
if items.length > 0 && items[items.length - 1] === 'divider'
  - items.pop()

if items.length > 0 && items[items.length - 1].indexOf('mod_') === 0
  - items.push('mod_history')

if (self.selected_cnt !== 0)
  if items.length > 0
    - items.push('divider')
  - items.push('multi_header')
  - items.push('multi_unselect')
  - items.push('multi_delete')
  - items.push('multi_undelete')

.page-actions.forum-topic__toolbar-controls
  - var isOpen = (self.topic.st === topicStatuses.OPEN || self.topic.ste === topicStatuses.OPEN);

  if self.settings.forum_can_reply && isOpen
    button.btn.btn-primary.icon.icon-plus(
      data-on-click='forum.topic:reply'
      type='button'
      title=self.t('post_add')
    )

  - var subscriptionIcon = 'icon-track-normal'
  - var subscriptionTitle = self.t('subs_normal')

  if (self.subscription === subscriptionTypes.MUTED)
    - subscriptionIcon = 'icon-track-muted'
    - subscriptionTitle = self.t('subs_muted')
  else if (self.subscription === subscriptionTypes.TRACKING)
    - subscriptionIcon = 'icon-track-tracking'
    - subscriptionTitle = self.t('subs_tracking')
  else if (self.subscription === subscriptionTypes.WATCHING)
    - subscriptionIcon = 'icon-track-watching'
    - subscriptionTitle = self.t('subs_watching')

  if (self.subscription && self.subscription !== subscriptionTypes.NORMAL)
    button.btn.btn-default.hidden-xxs.icon(
      title=subscriptionTitle
      class=subscriptionIcon
      data-on-click='forum.topic:subscription'
      data-topic-hid=self.topic.hid
      data-topic-subscription=self.subscription
    )

  if items.length > 0
    .page-actions__dropdown
      button.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown')
        span.caret

      ul.dropdown-menu.dropdown-menu-right

        each item in items
          case item

            when 'divider'
              li.divider

            when 'header'
              li.dropdown-header= self.t('mod_actions')

            when 'mod_history'
              //- TODO
              li.disabled: a(href='#')= self.t('history')

            when 'subscription'
              li: a(href='#'
                data-on-click='forum.topic:subscription'
                data-topic-hid=self.topic.hid
                data-topic-subscription=self.subscription
              )
                if self.subscription && self.subscription !== subscriptionTypes.NORMAL
                  span.icon(class=subscriptionIcon)
                  | 
                = self.t('subscription')

            when 'delete'
              li: a(href='#'
                data-on-click='forum.topic.topic_delete'
                data-topic-hid=self.topic.hid
              )= self.t('delete')

            when 'close'
              li: a(href='#'
                data-on-click='forum.topic.close'
                data-topic-hid=self.topic.hid
              )= self.t('close')

            when 'open'
              li: a(href='#'
                data-on-click='forum.topic.close'
                data-topic-hid=self.topic.hid
                data-reopen='true'
              )= self.t('open')

            when 'mod_delete'
              li: a(href='#'
                data-on-click='forum.topic.topic_delete'
                data-topic-hid=self.topic.hid
                data-as-moderator='true'
              )= self.t('delete')

            when 'mod_undelete'
              li: a(href='#'
                data-on-click='forum.topic.topic_undelete'
                data-topic-hid=self.topic.hid
              )= self.t('undelete')

            when 'mod_close'
              li: a(href='#'
                data-on-click='forum.topic.close'
                data-topic-hid=self.topic.hid
                data-as-moderator='true'
              )= self.t('close')

            when 'mod_open'
              li: a(href='#'
                data-on-click='forum.topic.close'
                data-topic-hid=self.topic.hid
                data-reopen='true'
                data-as-moderator='true'
              )= self.t('open')

            when 'mod_pin'
              li: a(href='#'
                data-on-click='forum.topic.pin'
                data-topic-hid=self.topic.hid
              )=self.t('pin')

            when 'mod_unpin'
              li: a(href='#'
                data-on-click='forum.topic.pin'
                data-topic-hid=self.topic.hid
                data-unpin='true'
              )=self.t('unpin')

            when 'multi_header'
              li.dropdown-header=self.t('multi_header', { count: self.selected_cnt })

            when 'multi_unselect'
              li: a(href='#'
                data-on-click='forum.topic:posts_unselect'
              )=self.t('multi_unselect')

            when 'multi_delete'
              li.disabled: a(href='#')= self.t('delete')

            when 'multi_undelete'
              li.disabled: a(href='#')= self.t('undelete')
