.pull-left
  - var parent_link;
  - if (self.parent_hid && self.section_level >= 2) {
  -   parent_link = self.link_to('forum.section', { hid: self.parent_hid });
  - } else {
  -   parent_link = self.link_to('forum.index') + '#cat' + self.section.hid
  - }

  a.navbar__level-up.icon.icon-level-up(href=parent_link)

  != self.partial('@forum.section.blocks.page_progress', self.page_progress)

.pull-right
  if self.settings.forum_can_start_topics
    .nav-alt__btn
      button.btn.btn-primary.icon.icon-plus(
        data-on-click='forum.section:create'
        data-section-hid=self.section.hid
        data-section-title=self.section.title
        type='button'
        title=self.t('topic_create')
      )

  if self.runtime.is_member
    .nav-alt__btn
      button.btn.btn-default.icon.icon-check(
        type='button'
        title=self.t('mark_read')
      )

  .nav-alt__btn
    button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
      span.caret
    ul.dropdown-menu.dropdown-menu-right
      li.disabled: a(href='#')= self.t('announce')
      li.disabled: a(href='#')= self.t('add_moderator')
      li.disabled: a(href='#')= self.t('mass_move')
      li.disabled: a(href='#')= self.t('mass_prune')


.navbar-alt__title= self.section.title
