- self.add_raw_data('settings',     self.settings)
- self.add_raw_data('section',      self.section)
- self.add_raw_data('subscription', self.subscription)
- self.add_raw_data('pagination',   self.pagination)

article#content.forum-section-root(
  data-keymap= {
    'home': 'forum.section:nav_to_start',
    'end':  'forum.section:nav_to_end'
  }
  class=(self.pagination.chunk_offset > 0 ? '' : 'forum-section-root__m-first-page')
  data-first-post-id=  self.topics.length ? self.topics[0].cache.last_post : null
  data-last-post-id=   self.topics.length ? self.topics[self.topics.length-1].cache.last_post : null
  data-section-level=  self.section_level
  data-parent-hid=     self.parent_hid
  data-last-topic-hid= self.last_topic_hid
)
  != self.partial('@common.blocks.breadcrumbs')

  header.page-head
    .pull-right
      != self.partial('@forum.section.blocks.toolbar_controls')
    h1.page-head__title(itemprop='name')= self.section.title
    p.page-head__descr.hidden-xs(itemprop='description')
      | #{self.section.description}

  //- Subsections, if exist
  if (self.subsections || []).length
    != self.partial('@forum.blocks.sections_list')

  if self.section.is_category === false || (self.topics && self.topics.length)
    if self.topics && self.topics.length
      .forum-topiclist
        != self.partial('@forum.blocks.topics_list')

      nav.forum-section__page-links
        .pager
          - var link = self.link_to(self.apiPath, { section_hid: self.section.hid, topic_hid: self.prev_topic_hid });
          li: a(href=link)= self.t('prev_page')

          - var link = self.link_to(self.apiPath, { section_hid: self.section.hid, topic_hid: self.next_topic_hid });
          li: a(href=link)= self.t('next_page')
    else
      p.forum-section__notopics
        != self.t('no_topics')
