- self.add_raw_data('settings',     self.settings)
- self.add_raw_data('section',      self.section)
- self.add_raw_data('subscription', self.subscription)
- self.add_raw_data('pagination',   self.pagination)
- self.add_raw_data('mark_cut_ts',  self.mark_cut_ts)

article#content.forum-section-root(
  data-keymap= {
    'home': 'forum.section:nav_to_start',
    'end':  'forum.section:nav_to_end'
  }
  class=(self.pagination.chunk_offset > 0 ? '' : 'forum-section-root__m-first-page')
  class=(!self.section_is_public) ? 'forum-section-root__m-no-bookmarks' : ''
  data-last-topic-hid= self.last_topic_hid
)

  -
    var navbar_args = {
      title:    self.section.title,
      level_up: self.parent_hid && self.section_level >= 2 ?
                self.link_to('forum.section', { section_hid: self.parent_hid }) + '#cat' + self.section.hid :
                self.link_to('forum.index') + '#cat' + self.section.hid,
      toolbar:  'forum.section.blocks.toolbar_controls',
      progress: {
        link_top:    self.link_to('forum.section', { section_hid: self.section.hid }),
        link_bottom: self.link_to('forum.section', { section_hid: self.section.hid, topic_hid: self.last_topic_hid }),
        current:     self.pagination.chunk_offset,
        total:       self.pagination.total
      },
      search_areas: [
        {
          title: self.t('search_section'),
          method: 'search.forum_section',
          params: { hid: String(self.section.hid) }
        }
      ]
    };

  != self.partial('@common.blocks.navbar.levelup_progress_apps', navbar_args)
  != self.partial('@common.blocks.navbar.alt_levelup_progress_title_toolbar', navbar_args)

  nav.breadcrumbs-container
    .layout__container.container-fluid
      != self.partial('@common.blocks.breadcrumbs')

  .layout__container.container-fluid
    != self.partial('@users.blocks.announces')

    header.page-head
      .float-end
        != self.partial('@forum.section.blocks.toolbar_controls')
      h1.page-head__title(itemprop='name')= self.section.title
      p.page-head__descr.d-none.d-sm-block(itemprop='description')
        | #{self.section.description}

    //- Subsections, if exist
    if (self.subsections || []).length
      != self.partial('@forum.blocks.sections_list')

    if self.section.is_category === false || (self.topics && self.topics.length)
      if self.topics && self.topics.length
        .forum-section__loading-prev.nojs-hide(
          class=(self.pagination.chunk_offset === 0 ? 'd-none' : '')
        )
          span.icon.icon-loading-placeholder

        .forum-topiclist
          != self.partial('@forum.blocks.topics_list')

        .forum-section__loading-next.nojs-hide(
          class=(self.topics && self.topics.length > 0 && self.topics[self.topics.length - 1].hid === self.last_topic_hid ? 'd-none' : '')
        )
          span.icon.icon-loading-placeholder

        nav.pager.js-hide
          if self.head.prev
            a.btn.btn-secondary(href=self.head.prev)= self.t('prev_page')

          if self.head.next
            a.btn.btn-secondary(href=self.head.next)= self.t('next_page')
      else
        p.forum-section__notopics
          != self.t('no_topics')
