article#content.forum-threadlist
  != self.partial('@common.blocks.breadcrumbs', { path: self.blocks.breadcrumbs })

  header.page-head
    h1(itemprop='name')= self.forum.title
    p(itemprop='description')
      | #{self.forum.description}

  //- Subforums, if exist
  - if (self.sections && self.sections.length)
    ul.fl-cat-list
      != self.partial('@forum.blocks.subsections_list', { subsections: self.sections, users: self.users })

  - if (self.forum.is_category === false)
    //- Toolbar with pagination & controls
    nav.controlbar-keeper
      #floatbar
        .container
          .btn-toolbar.controlbar.clearfix
            .btn-group.pull-left
              a.btn.btn-icon-only.icon-back(
                href=self.link_to('forum.section', { id: self.forum.parent_id }))

            - if (self.threads && self.threads.length && self.page.max > 1)
              - var link_params = { id: self.forum.id }
              .btn-group.pull-left.hidden-phone-vert
                != self.partial('@common.blocks.pagination', { route: self.get_apipath(), params: link_params, current: self.page.current, max_page: self.page.max })

            .btn-group.pull-right
              a.btn.icon-options.dropdown-toggle(href='#', data-toggle='dropdown')
                span.caret
              ul.dropdown-menu
                li: a(href='#')= self.t('section_announce')
                li: a(href='#')= self.t('section_add_moderator')
                li: a(href='#')= self.t('section_mass_move')
                li: a(href='#')= self.t('section_mass_prune')

            - if (self.runtime.is_member)
              .btn-group.pull-right
                a.btn.icon-track.tip(
                  href='#', title=self.t('section_subscribe')) 24

              .btn-group.pull-right
                a.btn.btn-icon-only.icon-check.tip(
                  href='#', title=self.t('section_mark_read_tip'))

            - if (self.settings.forum_start_topics)
              .btn-group.pull-right.hidden-phone
                a.btn.btn-primary.icon-new(href='#')= self.t('thread_create')
              .btn-group.pull-right.visible-phone
                a.btn.btn-primary.icon-new.btn-icon-only(
                  href='#', title=self.t('thread_create'))

          //- left part, no `float left` to avoid deals with container height


    - if (self.threads && self.threads.length)
      != self.partial('@forum.blocks.threads_list', { threads: self.threads, users: self.users })

      //- Button "More Threads"
      - var link_params = { id: self.forum.id, page: self.page.current + 1 };
      - var btn_more_state = (self.page.max === 1 || self.page.max === self.page.current) ? "hidden" : ""
      a.btn.btn-block.icon-more(
        class=btn_more_state,
        href=self.link_to(self.get_apipath(), link_params),
        data-on-click="forum.section.append_next_page")= self.t('more_threads')

    - else
      p
        strong= self.t('no_threads')
