article#content.forum-topics-root
  != self.partial('@common.blocks.breadcrumbs')

  header.page-head
    h1.page-head__title(itemprop='name')= self.section.title
    p.page-head__descr.hidden-xs(itemprop='description')
      | #{self.section.description}

  //- Subsections, if exist
  if (self.subsections || []).length
    != self.partial('@forum.blocks.sections_list')

  if self.section.is_category === false || (self.topics && self.topics.length)
    //- Toolbar with pagination & controls
    nav.controlbar._affix
      .controlbar__floater
        //- needed set width & center content on horizontal navigation
        .controlbar__floater-inner
          .controlbar__body.btn-toolbar.clearfix

            if self.topics && self.topics.length && self.page.max > 1
              .btn-group.pull-left._pagination
                - var link_params = { hid: self.section.hid }
                - var pgn_params  = { route: self.apiPath, params: link_params, current: self.page.current, max: self.page.max }
                != self.partial('@common.blocks.pagination', pgn_params)

            .btn-group.pull-right
              button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
                span.caret
              ul.dropdown-menu
                li.visible-xxs-block: a(href='#')= self.t('mark_read')
                li.visible-xxs-block: a(href='#')= self.t('subscribe')
                li.visible-xxs-block.divider
                li.dropdown-header= self.t('mod_actions')
                li: a(href='#')= self.t('announce')
                li: a(href='#')= self.t('add_moderator')
                li: a(href='#')= self.t('mass_move')
                li: a(href='#')= self.t('mass_prune')

            if self.runtime.is_member
              button.hidden-xxs.btn.btn-default.icon.icon-track.pull-right(
                type='button'
                title=self.t('subscribe')
              )

              button.hidden-xxs.btn.btn-default.icon.icon-check.pull-right(
                type='button'
                title=self.t('mark_read')
              )

            if self.settings.forum_can_start_topics
              a.btn.btn-primary.icon.icon-plus.pull-right(
                href=self.link_to('forum.topic_create', { section_hid: self.section.hid })
                type='button'
                title=self.t('topic_create')
              )

          //- left part, no `float left` to avoid deals with container height


    if self.topics && self.topics.length
      #topiclist.forum-topiclines
        != self.partial('@forum.blocks.topics_list')

      //- Button "More Topics"
      - var link_params = { hid: self.section.hid, page: self.page.current + 1 };
      - var btn_more_state = (self.page.max === 1 || self.page.max === self.page.current) ? "hidden" : ""
      a.forum-section__more-link.btn.btn-default.btn-block.icon.icon-dimmed.icon-space-after.icon-more(
        class=btn_more_state,
        href=self.link_to(self.apiPath, link_params),
        data-page=self.page.current+1,
        data-section=self.section.hid,
        data-on-click="forum.section.append_next_page")= self.t('more_topics')

    else
      p.forum-section__notopics
        != self.t('no_topics')
