- self.add_raw_data('settings',   self.settings)
- self.add_raw_data('section',    self.section)
- self.add_raw_data('pagination', self.pagination)

- var page_current = Math.floor(self.pagination.chunk_offset / self.pagination.per_page) + 1;
- var page_max = self.pagination.page_max;

article#content.forum-section-root(
  class=(page_current === 1 ? 'forum-section-root__m-first-page' : '')
  data-first-post-id= self.topics.length ? self.topics[0].cache.last_post : null
  data-last-post-id=  self.topics.length ? self.topics[self.topics.length-1].cache.last_post : null
)
  != self.partial('@common.blocks.breadcrumbs')

  header.page-head
    h1.page-head__title(itemprop='name')= self.section.title
    p.page-head__descr.hidden-xs(itemprop='description')
      | #{self.section.description}

  //- Subsections, if exist
  if (self.subsections || []).length
    != self.partial('@forum.blocks.sections_list')

  if self.section.is_category === false || (self.topics && self.topics.length)
    if self.topics && self.topics.length
      .forum-topiclist
        != self.partial('@forum.blocks.topics_list')

      nav.forum-section__page-links
        .pager
          - var link = self.link_to(self.apiPath, { hid: self.section.hid, page: page_current - 1 });
          li
            a(href=link)= self.t('prev_page')

          - var link = self.link_to(self.apiPath, { hid: self.section.hid, page: page_current + 1 });
          li
            a(href=link)= self.t('next_page')
    else
      p.forum-section__notopics
        != self.t('no_topics')

    //- Tracking options
    if self.runtime.is_member
      footer.forum-section__tracking
        button.forum-section__tracking-btn.btn.btn-sm.btn-default(type='button')
          span.icon.icon-track-normal.icon-space-after
          | #{self.t('tracking')}

        span.forum-section__tracking-text
          | You will receive notifications because you subscribed this section
