article#content.forum-topics-root
  != self.partial('@common.blocks.breadcrumbs')

  header.page-head
    h1.page-head__title(itemprop='name')= self.section.title
    p.page-head__descr.hidden-xs(itemprop='description')
      | #{self.section.description}

  //- Subsections, if exist
  - if ((self.subsections || []).length)
    != self.partial('@forum.blocks.sections_list')

  - if (self.section.is_category === false || (self.topics && self.topics.length))
    //- Toolbar with pagination & controls
    nav.controlbar._affix
      .controlbar-floater
        .container
          .controlbar-body.btn-toolbar.clearfix
            button.btn.btn-default.btn-icon-only.icon-back.pull-left(type='button')

            - if (self.topics && self.topics.length && self.page.max > 1)
              .btn-group.pull-left._pagination
                - var link_params = { hid: self.section.hid }
                - var pgn_params  = { route: self.apiPath, params: link_params, current: self.page.current, max: self.page.max }
                != self.partial('@common.blocks.pagination', pgn_params)

            .btn-group.pull-right
              button.btn.btn-default.icon-options.dropdown-toggle(type='button', data-toggle='dropdown')
                span.caret
              ul.dropdown-menu
                li: a(href='#')= self.t('section_announce')
                li: a(href='#')= self.t('section_add_moderator')
                li: a(href='#')= self.t('section_mass_move')
                li: a(href='#')= self.t('section_mass_prune')

            - if (self.runtime.is_member)
              button.btn.btn-default.icon-track.tip.pull-right(type='button', title=self.t('section_subscribe')) 24

              button.btn.btn-default.btn-icon-only.icon-check.tip.pull-right(
                type='button',
                title=self.t('section_mark_read_tip')
              )

            - if (self.settings.forum_can_start_topics)
              button.btn.btn-primary.pull-right(type='button')= self.t('topic_create')

          //- left part, no `float left` to avoid deals with container height


    - if (self.topics && self.topics.length)
      #topiclist.forum-topiclines
        != self.partial('@forum.blocks.topics_list')

      //- Button "More Topics"
      - var link_params = { hid: self.section.hid, page: self.page.current + 1 };
      - var btn_more_state = (self.page.max === 1 || self.page.max === self.page.current) ? "hidden" : ""
      a.forum-section__more-link.btn.btn-default.btn-block.icon-more(
        class=btn_more_state,
        href=self.link_to(self.apiPath, link_params),
        data-page=self.page.current+1,
        data-section=self.section.hid,
        data-on-click="forum.section.append_next_page")= self.t('more_topics')

    - else
      p.forum-section__notopics
        != self.t('no_topics')
