form.form-horizontal(data-bind="submit: isNewSection ? create : update")
  fieldset(data-bind="if: isNewSection")
    .form-group
      label.control-label.col-xs-3 #{self.t('field_copy_settings_from')}
      .col-xs-4: select.form-control(data-bind="value: copySettingsFrom, options: allowedParents, optionsText: 'title', optionsValue: '_id'")

  fieldset
    legend #{self.t('legend_forum_settings')}

    .form-group
      label.control-label.col-xs-3 #{self.t('field_title')}
      .col-xs-4: input.form-control(type="text", data-bind="value: currentSection.title")

    .form-group
      label.control-label.col-xs-3 #{self.t('field_description')}
      .col-xs-9: textarea.form-control(data-bind="value: currentSection.description")

    .form-group
      label.control-label.col-xs-3 #{self.t('field_parent')}
      .col-xs-4: select.form-control(data-bind="value: currentSection.parent, options: allowedParents, optionsText: 'title', optionsValue: '_id'")

    mixin option_field(name)
      .form-group
        label.control-label.col-xs-3(for="section_#{name}") #{self.t('field_' + name)}
        .col-xs-4
          .switch
            input(id="section_#{name}", type="checkbox", data-bind="checked: currentSection.#{name}")
            label(for="section_#{name}", data-yes=self.t('value_yes'), data-no=self.t('value_no')): i

    mixin option_field('is_category')
    mixin option_field('is_enabled')
    mixin option_field('is_writeble')
    mixin option_field('is_searcheable')
    mixin option_field('is_voteable')
    mixin option_field('is_counted')
    mixin option_field('is_excludable')

  .form-group
    .col-xs-9.col-xs-offset-3
      button.btn.btn-primary(type="submit", data-bind="enable: isDirty") #{self.t('button_save')}
