- var topicStatuses = '$$ JSON.stringify(N.models.forum.Topic.statuses) $$'
- var topicOwner = self.users[self.topic.cache.first_user]

- self.add_raw_data('settings', self.settings)

article#content.forum-topic-root(
  class=(self.topic.st === topicStatuses.OPEN || self.topic.ste === topicStatuses.OPEN) ? 'forum-topic-root__m-open' : ''
  class=(self.topic.st === topicStatuses.CLOSED || self.topic.ste === topicStatuses.CLOSED) ? 'forum-topic-root__m-closed' : ''
  class=(self.topic.st === topicStatuses.DELETED) ? 'forum-topic-root__m-deleted' : ''
  class=(self.topic.st === topicStatuses.DELETED_HARD) ? 'forum-topic-root__m-deleted-hard' : ''
  class=(self.topic.st === topicStatuses.PINNED) ? 'forum-topic-root__m-pinned' : ''
)
  != self.partial('@common.blocks.breadcrumbs')

  header.page-head
    - var canEdit = (topicOwner && topicOwner._id === self.runtime.user_id) && (self.settings.forum_edit_max_time === 0 || self.date(self.topic.cache.first_ts, 'timestamp') > Date.now() - self.settings.forum_edit_max_time * 60 * 1000);

    h1.forum-topic-title.page-head__title(itemprop='name')
      span.forum-topic-title__text= self.topic.title

      if canEdit || self.settings.forum_mod_can_edit_titles
        a.forum-topic-title__edit.icon-edit.icon(
          href='#'
          title=self.t('edit_title')
          data-on-click='forum.topic.edit_title'
          data-topic-id='#{self.topic._id}'
          data-as-moderator='#{!canEdit}'
        )

    if self.topic._seo_desc
      p.page-head__descr(itemprop='description')
        | #{self.topic._seo_desc}

  nav.controlbar._affix
    .controlbar__floater
      //- needed set width & center content on horizontal navigation
      .controlbar__floater-inner
        .controlbar__body.btn-toolbar.clearfix

          if self.page.max > 1
            .btn-group.pull-left._pagination
              - var link_params = { hid: self.topic.hid, section_hid: self.section.hid }
              - var pgn_params  = { route: self.apiPath, params: link_params, current: self.page.current, max: self.page.max }
              != self.partial('@common.blocks.pagination', pgn_params)

          .btn-group.pull-right
            button.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown')
              span.caret

            ul.dropdown-menu
              li.visible-xxs-block: a(href='#')= self.t('subscribe')
              li.disabled: a(href='#')= self.t('delete')

              if (topicOwner && topicOwner._id === self.runtime.user_id) && self.settings.forum_can_close_topic
                li.forum-topic-menu__close
                  a(href='#'
                    data-on-click='forum.topic.close'
                    data-topic-id='#{self.topic._id}'
                  )= self.t('close')
                li.forum-topic-menu__open
                  a(href='#'
                    data-on-click='forum.topic.close'
                    data-topic-id='#{self.topic._id}'
                    data-reopen='true'
                  )= self.t('open')

              li.divider
              li.dropdown-header= self.t('mod_actions')
              li.disabled: a(href='#')= self.t('delete')

              if self.settings.forum_mod_can_close_topic
                li.forum-topic-menu__close
                  a(href='#'
                    data-on-click='forum.topic.close'
                    data-topic-id='#{self.topic._id}'
                    data-as-moderator='true'
                  )= self.t('close')
                li.forum-topic-menu__open
                  a(href='#'
                    data-on-click='forum.topic.close'
                    data-topic-id='#{self.topic._id}'
                    data-reopen='true'
                    data-as-moderator='true'
                  )= self.t('open')

              if self.settings.forum_mod_can_pin_topic
                li.forum-topic-menu__pin
                  a(href='#'
                    data-on-click='forum.topic.pin'
                    data-topic-id='#{self.topic._id}'
                  )=self.t('pin')
                li.forum-topic-menu__unpin
                  a(href='#'
                    data-on-click='forum.topic.pin'
                    data-topic-id='#{self.topic._id}'
                    data-unpin='true'
                  )=self.t('unpin')

              li.disabled: a(href='#')= self.t('history')

          if self.runtime.is_member
            button.hidden-xxs.btn.btn-default.icon.icon-track.pull-right(
              type='button'
              title=self.t('subscribe')
            )

          if self.settings.forum_can_reply
            button.forum-topic-menu__reply.btn.btn-primary.icon.icon-plus.pull-right(
              data-on-click='forum.topic.post_reply'
              type='button'
              title=self.t('post_add')
            )

  #postlist.forum-postlist
    != self.partial('@forum.blocks.posts_list')

  //- Button "More Topics"
  - var link_params = { hid: self.topic.hid, section_hid: self.section.hid, page: self.page.current + 1 };
  - var btn_more_state = (self.page.max === 1 || self.page.max === self.page.current) ? "hidden" : ""
  a.forum-topic__more-link.btn.btn-default.btn-block.icon.icon-dimmed.icon-space-after.icon-more(
    class=btn_more_state
    href=self.link_to(self.apiPath, link_params)
    data-on-click="forum.topic.append_next_page"
  )= self.t('more_posts')
