- var topicStatuses = '$$ JSON.stringify(N.models.forum.Topic.statuses) $$'
- var topicOwner = self.users[self.topic.cache.first_user]

- self.add_raw_data('settings', self.settings)
- var isOpen = (self.topic.st === topicStatuses.OPEN || self.topic.ste === topicStatuses.OPEN);
- var isClosed = (self.topic.st === topicStatuses.CLOSED || self.topic.ste === topicStatuses.CLOSED);

article#content.forum-topic-root(
  class=isOpen ? 'forum-topic-root__m-open' : ''
  class=isClosed ? 'forum-topic-root__m-closed' : ''
  class=(self.topic.st === topicStatuses.DELETED) ? 'forum-topic-root__m-deleted' : ''
  class=(self.topic.st === topicStatuses.DELETED_HARD) ? 'forum-topic-root__m-deleted-hard' : ''
  class=(self.topic.st === topicStatuses.PINNED) ? 'forum-topic-root__m-pinned' : ''
)
  != self.partial('@common.blocks.breadcrumbs')

  header.page-head
    - var canEdit = (topicOwner && topicOwner._id === self.runtime.user_id) && (self.settings.forum_edit_max_time === 0 || new Date(self.topic.cache.first_ts).getTime() > Date.now() - self.settings.forum_edit_max_time * 60 * 1000);

    h1.forum-topic-title.page-head__title(itemprop='name')
      span.forum-topic__closed-mark.icon.icon-closed.icon-space-after(title=self.t('closed'))

      span.forum-topic-title__text= self.topic.title

      if canEdit || self.settings.forum_mod_can_edit_titles
        a.forum-topic-title__edit.icon.icon-edit.icon-dimmed.icon-space-before(
          href='#'
          title=self.t('edit_title')
          data-on-click='forum.topic.edit_title'
          data-topic-id=self.topic._id
          data-as-moderator='#{!canEdit}'
        )

    if self.topic._seo_desc
      p.page-head__descr(itemprop='description')
        | #{self.topic._seo_desc}

    if self.topic.del_by
      - var delUser = self.users[self.topic.del_by] || {}
      .forum-topic-title__meta-deleted
        =self.t('del_by')
        | 
        a(href=self.link_to('users.member', { user_hid: delUser.hid }))=delUser.name
        if self.topic.del_reason
          | 
          =self.t('del_reason', { text: self.topic.del_reason })

  nav.controlbar._affix
    .controlbar__floater
      //- needed set width & center content on horizontal navigation
      .controlbar__floater-inner
        .controlbar__body.btn-toolbar.clearfix

          if self.page.max > 1
            .btn-group.pull-left._pagination
              - var link_params = { hid: self.topic.hid, section_hid: self.section.hid }
              - var pgn_params  = { route: self.apiPath, params: link_params, current: self.page.current, max: self.page.max }
              != self.partial('@common.blocks.pagination', pgn_params)

          != self.partial('topic_dropdown_menu')

          if self.settings.forum_can_reply
            button.forum-topic-menu__reply.btn.btn-primary.icon.icon-plus.pull-right(
              data-on-click='forum.topic.post_reply'
              type='button'
              title=self.t('post_add')
            )

  #postlist.forum-postlist
    != self.partial('@forum.blocks.posts_list')

  //- Button "More Topics"
  - var link_params = { hid: self.topic.hid, section_hid: self.section.hid, page: self.page.current + 1 };
  - var btn_more_state = (self.page.max === 1 || self.page.max === self.page.current) ? "hidden" : ""
  a.forum-topic__more-link.btn.btn-default.btn-block.icon.icon-dimmed.icon-space-after.icon-more(
    class=btn_more_state
    href=self.link_to(self.apiPath, link_params)
    data-on-click="forum.topic.append_next_page"
  )= self.t('more_posts')

  //- Tracking options
  if self.runtime.is_member
    footer.forum-topic__tracking
      button.forum-topic__tracking-btn.btn.btn-sm.btn-default(type='button')
        span.icon.icon-track-instant.icon-space-after
        | #{self.t('tracking')}

      span.forum-topic__tracking-text
        | You will receive notifications because you replied this topic

