- var topicStatuses = '$$ JSON.stringify(N.models.forum.Topic.statuses) $$'

- self.add_raw_data('settings', self.settings)
- self.add_raw_data('section', self.section)
- self.add_raw_data('topic', self.topic)
- self.add_raw_data('subscription', self.subscription)
- self.add_raw_data('pagination', self.pagination)
- self.add_raw_data('posts_list_before_post', self.posts_list_before_post)
- self.add_raw_data('posts_list_after_post', self.posts_list_after_post)

- var isOpen = (self.topic.st === topicStatuses.OPEN || self.topic.ste === topicStatuses.OPEN);
- var isClosed = (self.topic.st === topicStatuses.CLOSED || self.topic.ste === topicStatuses.CLOSED);

article#content.forum-topic-root(
  data-keymap= {
    'home':   'forum.topic:nav_to_start',
    'end':    'forum.topic:nav_to_end'
  }
  class=isOpen ? 'forum-topic-root__m-open' : ''
  class=isClosed ? 'forum-topic-root__m-closed' : ''
  class=(self.topic.st === topicStatuses.DELETED) ? 'forum-topic-root__m-deleted' : ''
  class=(self.topic.st === topicStatuses.DELETED_HARD) ? 'forum-topic-root__m-deleted-hard' : ''
  class=(self.topic.st === topicStatuses.PINNED) ? 'forum-topic-root__m-pinned' : ''
  class=(!self.section_is_public) ? 'forum-topic-root__m-no-bookmarks' : ''
)
  -
    const navbar_base = {
      level_up: self.link_to('forum.section', { section_hid: self.section.hid, topic_hid: self.topic.hid }),
      on_jump:  'forum.topic:nav_to_post',
      progress: {
        link_top:    self.link_to('forum.topic', { section_hid: self.section.hid, topic_hid: self.topic.hid, post_hid: 1 }),
        link_bottom: self.link_to('forum.topic', { section_hid: self.section.hid, topic_hid: self.topic.hid, post_hid: self.topic.cache.last_post_hid }),
        current:     self.current_post_hid || 0,
        total:       self.topic.cache.last_post_hid
      }
    };

    const navbar_primary = {
      search_areas: [
        {
          title: self.t('search_section'),
          method: 'search.forum_section',
          params: { hid: String(self.section.hid) }
        },
        {
          title: self.t('search_topic'),
          method: 'search.forum_topic',
          params: { hid: String(self.topic.hid) }
        }
      ]
    };

    const navbar_alt = {
      title: self.topic.title,
      subtitle: self.section.title,
      extra_buttons: 'forum.topic.blocks.page_actions.dropdown'
    };

  != self.partial('@common.blocks.navbar.levelup_progress_apps', { ...navbar_base, ...navbar_primary })
  != self.partial('@common.blocks.navbar.alt_levelup_progress_title', { ...navbar_base, ...navbar_alt })

  nav.breadcrumbs-container
    .layout__container.container-fluid
      != self.partial('@common.blocks.breadcrumbs')

  .layout__container.container-fluid
    != self.partial('@users.blocks.announces')

    header.page-head
      -
        var canEditAsUser =
          (self.runtime.is_member && self.topic.cache.first_user === self.runtime.user_id) &&
          (self.settings.forum_edit_max_time === 0 ||
            (new Date(self.topic.cache.first_ts).getTime() > Date.now() - self.settings.forum_edit_max_time * 60 * 1000)
          ) &&
          self.section.is_writable;

      h1.forum-topic-title.page-head__title(itemprop='name')
        .float-end
          != self.partial('@forum.topic.blocks.page_actions')

        span.forum-topic__closed-mark.icon.icon-closed.icon-space-after(title=self.t('closed'))

        span.forum-topic-title__text= self.topic.title

        if canEditAsUser || self.settings.forum_mod_can_edit_titles
          a.forum-topic-title__edit.icon.icon-edit(
            href='#'
            title=self.t('edit_title')
            data-on-click='forum.topic:edit_title'
            data-topic-hid=self.topic.hid
            data-as-moderator=String(!canEditAsUser)
          )

      if self.topic._seo_desc
        p.page-head__descr(itemprop='description')
          | #{self.topic._seo_desc}

      if self.topic.del_by
        - var delUser = self.users[self.topic.del_by] || {}
        p.page-head__descr.forum-topic-title__meta-deleted
          =self.t('del_by')
          |
          a(href=self.link_to('users.member', { user_hid: delUser.hid }))=delUser.name
          if self.topic.del_reason
            |
            =self.t('del_reason', { text: self.topic.del_reason })

    .forum-topic__loading-prev.nojs-hide(
      class=(!(self.posts && self.posts.length > 0) || self.posts[0].hid <= 1 ? 'd-none' : '')
    )
      span.icon.icon-loading-placeholder

    .forum-postlist
      != self.partial('@forum.blocks.posts_list')

    .forum-topic__loading-next.nojs-hide(
      class=(!(self.posts && self.posts.length > 0) || self.posts[self.posts.length - 1].hid >= self.topic.cache.last_post_hid ? 'd-none' : '')
    )
      span.icon.icon-loading-placeholder

    //- Topic Open/Close/... status clarified via CSS modifiers
    if self.settings.forum_can_reply && self.section.is_writable
      .forum-topic__reply
        button.btn.btn-link.w-100.icon.icon-plus.icon-space-after(
          type='button'
          data-on-click='forum.topic:reply'
          title=self.t('post_add')
        )
          = self.t('post_add')

    if self.runtime.is_member
      .forum-topic__tracker-link
        a.btn.btn-link.w-100(
          href=self.link_to('users.tracker')
          title=self.t('tracker_link')
        )
          = self.t('tracker_link')

    nav.forum-topic__footer-pagination.js-hide
      - var link_params  = { section_hid: self.section.hid, topic_hid: self.topic.hid }
      - var page_current = Math.floor(self.pagination.chunk_offset / self.pagination.per_page) + 1;
      - var page_max     = Math.ceil(self.pagination.total / self.pagination.per_page) || 1;
      - var pgn_params   = { route: 'forum.topic', params: link_params, current: page_current, max: page_max }
      != self.partial('@common.blocks.pagination', pgn_params)


    if self.similar_topics
      footer.similar_topics
        .similar_topics__header= self.t('similar_topics')

        each item in self.similar_topics
          .similar_topics__item(data-weight=item.weight)
            .similar_topics__item-title
              - var link = self.link_to('forum.topic', { section_hid: item.section_hid, topic_hid: item.topic.hid });
              a.similar_topics__item-link(href=link)= item.topic.title

            .similar_topics__item-stat= self.t('similar_topics_stat', { replies: item.topic.cache.post_count - 1, date: self.date(item.topic.cache.last_ts, 'date') })
