include ../pagination_micro/pagination_micro

//- This template is used for:
//- - the whole page generation
//- - appending next page posts via autoload or "more" button
- var replies, views;
- if (self.show_page_number)
  .forum-topicline__separator= self.t('page_separator', { page: self.show_page_number })

- each topic in self.topics
  - fp_user = topic.cache.real.first_user
  - lp_user = topic.cache.real.last_user
  - fp_ts   = topic.cache.real.first_ts
  - lp_ts   = topic.cache.real.last_ts
  .forum-topicline
    .row
      .forum-topicline__summary.span7
        h2.forum-topicline__title
          a.forum-topicline__title-link(href=self.link_to('forum.topic', { hid: topic.hid, section_hid: self.section.hid }))= topic.title
        //a.mark-i-attach._tip(href="#")=topic.attach_count
        - _pages_count = Math.ceil(topic.cache.real.post_count / self.settings.posts_per_page)
        - if (_pages_count > 1)
          //- micro-pagination
          - var route_params = { hid: topic.hid, section_hid: self.section.hid }
          mixin pagination_micro('forum.topic', route_params, _pages_count)


        .forum-topicline__meta
          a.forum-topicline__preview-link.icon-more(href='#')= self.t('topic_preview')
          - if (self.users[fp_user])
            a.forum-topicline__author._ucard-popover(
              href=self.link_to('users.member', self.users[fp_user]),
              data-user-id=fp_user
            ) #{self.users[fp_user]._uname}
          time.forum-topicline__time(datetime=self.date(fp_ts, 'iso')) #{self.date(fp_ts, 'date')}

      ul.forum-topicline__counters.span2.hidden-phone
        - replies = topic.cache.real.post_count - 1;
        - views   = topic.views_count;
        li.forum-topicline__counter-item
          span.forum-topicline__counter-val #{replies}
          = self.t('topic_replies', { count: replies })
        li.forum-topicline__counter-item
          span.forum-topicline__counter-val  #{views}
          = self.t('topic_views', { count: views })

      ul.forum-topicline__lpost.span3.hidden-phone
        li.forum-topicline__lpost-time
          a.forum-topicline__lpost-time-link(href='#')
            time(datetime=self.date(lp_ts, 'iso')) #{self.date(lp_ts, 'date')}
        - if (self.users[lp_user])
          li.forum-topicline__lpost-user
            a.forum-topicline__lpost-user-link._ucard-popover(
              href=self.link_to('users.member', self.users[lp_user]),
              data-user-id=lp_user
            ) #{self.users[lp_user]._uname}
