- var topicStatuses = '$$ JSON.stringify(N.models.forum.Topic.statuses) $$'
- self.users = self.users || {};

//- This template is used for:
//- - the whole page generation
//- - appending next page posts via autoload or "more" button

//- show many operations checkbox
- var many_ops_permitted = self.settings.forum_mod_can_delete_topics || self.settings.forum_mod_can_close_topic;

each topic, idx in self.topics
  //- skip topics created by ignored users
  - if (self.ignored_users[topic.cache.first_user]) { continue; }

  - var fp_user = self.users[topic.cache.first_user] || {}
  - var lp_user = self.users[topic.cache.last_user] || {}
  - var fp_ts   = topic.cache.first_ts
  - var lp_ts   = topic.cache.last_ts
  - var replies = topic.cache.post_count - 1;
  - var views   = topic.views_count;
  .forum-topicline(
    class=(topic.st === topicStatuses.HB) ? 'forum-topicline__m-hellbanned' : ''
    class=([ topic.st, topic.ste ].indexOf(topicStatuses.PINNED) !== -1) ? 'forum-topicline__m-pinned' : ''
    class=([ topic.st, topic.ste ].indexOf(topicStatuses.CLOSED) !== -1) ? 'forum-topicline__m-closed' : ''
    class=(topic.st === topicStatuses.DELETED) ? 'forum-topicline__m-deleted' : ''
    class=(topic.st === topicStatuses.DELETED_HARD) ? 'forum-topicline__m-deleted-hard' : ''
    class=(self.own_bookmarks.indexOf(topic.cache.first_post) !== -1) ? 'forum-topicline__m-bookmarked' : ''
    class=(self.read_marks[topic._id].next !== -1 && self.subscriptions.indexOf(topic._id) !== -1) ? 'forum-topicline__m-unread' : ''
    class=(self.read_marks[topic._id].isNew) ? 'forum-topicline__m-new' : ''
    data-topic-hid=topic.hid
    data-last-post=topic.cache.last_post
    id='topic' + topic.hid
  )
    .forum-topicline__summary.forum-topicline__cell
      h2.forum-topicline__title
        span.forum-topicline__pinned-marker.icon.icon-pin.icon-sm.icon-dimmed.icon-space-after(title=self.t('pinned'))
        span.forum-topicline__bookmarked-marker.icon.icon-bookmark.icon-sm.icon-dimmed.icon-space-after(title=self.t('bookmarked'))
        span.forum-topicline__deleted-marker.icon.icon-deleted.icon-sm.icon-dimmed.icon-space-after(title=self.t('deleted'))
        span.forum-topicline__closed-marker.icon.icon-closed.icon-sm.icon-dimmed.icon-space-after(title=self.t('closed'))

        - var href;

        if (self.read_marks[topic._id].next !== -1 && self.subscriptions.indexOf(topic._id) !== -1)
          //- If user subscribed and unread messages in topic - go to first unread
          - href = self.link_to('forum.topic', { section_hid: self.section.hid, topic_hid: topic.hid, post_hid: self.read_marks[topic._id].next });

        else if (self.read_marks[topic._id].position !== -1)
          //- If we have position info - go to last position
          - href = self.link_to('forum.topic', { section_hid: self.section.hid, topic_hid: topic.hid, post_hid: self.read_marks[topic._id].position });

        else
          //- Go to first post in topic
          - href = self.link_to('forum.topic', { section_hid: self.section.hid, topic_hid: topic.hid });

        a.forum-topicline__title-link(href=href)= topic.title

      .forum-topicline__meta-hellbanned
        =self.t('hellbanned')

      if topic.del_by
        - var delUser = self.users[topic.del_by] || {}
        .forum-topicline__meta-deleted
          =self.t('del_by')
          | 
          a(href=self.link_to('users.member', { user_hid: delUser.hid }))=delUser.name
          if topic.del_reason
            | 
            =self.t('del_reason', { text: topic.del_reason })

      .forum-topicline__meta.hidden-xs
        if fp_user
          a.forum-topicline__author(
            href=self.link_to('users.member', { user_hid: fp_user.hid })
          )= fp_user.name
        span.forum-topicline__time
          != self.timetag(fp_ts, 'relative')

      .forum-topicline__microstat.visible-xs-block
        = self.t('stat', { count: replies, last: self.date(lp_ts, 'relative'), name: lp_user.name })

      //-.forum-topicline__enter.icon.icon-right-open.visible-xs-block

      .forum-topicline__new-marker(title=self.t('new'))

      //- cover all space with link for small screens
      a.forum-topicline__overlay.visible-xs-block(href=self.link_to('forum.topic', { section_hid: self.section.hid, topic_hid: topic.hid }))
        .forum-topicline__enter.icon.icon-right-open

    ul.forum-topicline__cell.forum-topicline__counters.hidden-xs
      li.forum-topicline__counter-item
        = self.t('replies', replies)

      li.forum-topicline__counter-item
        = self.t('views', views)

    ul.forum-topicline__cell.forum-topicline__lpost.hidden-xs
      li.forum-topicline__lpost-time
        a.forum-topicline__lpost-time-link(
          href= self.link_to('forum.topic', { section_hid: self.section.hid, topic_hid: topic.hid, post_hid: topic.cache.last_post_hid })
        )
          != self.timetag(lp_ts, 'relative')
      if lp_user
        li.forum-topicline__lpost-user
          a.forum-topicline__lpost-user-link._ucard-popover(
            href=self.link_to('users.member', { user_hid: lp_user.hid })
            data-user-id=lp_user._id
          )= lp_user.name

    if many_ops_permitted
      label.forum-topicline__select.forum-topicline__cell(title=self.t('multiselect_hint'))
        input.forum-topicline__select-cb(
          type='checkbox'
          data-topic-hid=topic.hid
          data-on-change='forum.section:topic_check')
