include ../pagination_micro/pagination_micro

//- This template is used for:
//- - the whole page generation
//- - appending next page posts via autoload or "more" button
- var replies, views;
- if (self.show_page_number)
  .forum-topicline__separator= self.t('page_separator', self.show_page_number)

- each topic in self.topics
  - fp_user = self.users[topic.cache.first_user]
  - lp_user = self.users[topic.cache.last_user]
  - fp_ts   = topic.cache.first_ts
  - lp_ts   = topic.cache.last_ts
  .forum-topicline
    .row
      .forum-topicline__summary.col-xs-9.col-sm-7
        h2.forum-topicline__title
          a.forum-topicline__title-link(href=self.link_to('forum.topic', { hid: topic.hid, section_hid: self.section.hid }))= topic.title
        //a.mark-i-attach._tip(href="#")=topic.attach_count
        - _pages_count = Math.ceil(topic.cache.post_count / self.settings.posts_per_page)
        - if (_pages_count > 1)
          //- micro-pagination
          - var route_params = { hid: topic.hid, section_hid: self.section.hid }
          mixin pagination_micro('forum.topic', route_params, _pages_count)


        .forum-topicline__meta
          - if (fp_user)
            a.forum-topicline__author._ucard-popover(
              href=self.link_to('users.member', { user_hid: fp_user.hid }),
              data-user-id=fp_user._id
            ) #{fp_user.name}
          time.forum-topicline__time(datetime=self.date(fp_ts, 'iso')) #{self.date(fp_ts, 'date')}

      ul.forum-topicline__counters.col-xs-3.col-sm-2
        - replies = topic.cache.post_count - 1;
        - views   = topic.views_count;
        li.forum-topicline__counter-item
          span.forum-topicline__counter-val #{replies}
          = self.t('topic_replies', { count: replies })
        li.forum-topicline__counter-item
          span.forum-topicline__counter-val  #{views}
          = self.t('topic_views', { count: views })

      ul.forum-topicline__lpost.col-sm-3.hidden-xs
        li.forum-topicline__lpost-time
          a.forum-topicline__lpost-time-link(href='#')
            time(datetime=self.date(lp_ts, 'iso')) #{self.date(lp_ts, 'date')}
        - if (lp_user)
          li.forum-topicline__lpost-user
            a.forum-topicline__lpost-user-link._ucard-popover(
              href=self.link_to('users.member', { user_hid: lp_user.hid }),
              data-user-id=lp_user._id
            ) #{lp_user.name}
