- var status = { topic: { OPEN: 1, CLOSED: 2, PINNED: 3, PENDING: 4, DELETED: 5, DELETED_HARD: 6, HB: 7 } }

//- This template is used for:
//- - the whole page generation
//- - appending next page posts via autoload or "more" button
- var replies, views;
if self.show_page_number
  .forum-topicline__separator= self.t('page_separator', self.show_page_number)

each topic in self.topics
  - fp_user = self.users[topic.cache.first_user] || {}
  - lp_user = self.users[topic.cache.last_user] || {}
  - fp_ts   = topic.cache.first_ts
  - lp_ts   = topic.cache.last_ts
  - replies = topic.cache.post_count - 1;
  - views   = topic.views_count;
  .forum-topicline(
    class=(topic.st === status.topic.PINNED) ? 'forum-topicline__m-pinned' : ''
    class=(topic.st === status.topic.CLOSED || topic.ste === status.topic.CLOSED) ? 'forum-topicline__m-closed' : ''
    class=(topic.st === status.topic.DELETED) ? 'forum-topicline__m-deleted' : ''
  )
    .row
      .col-sm-7
        .forum-topicline__summary
          h2.forum-topicline__title
            a.forum-topicline__title-link(href=self.link_to('forum.topic', { hid: topic.hid, section_hid: self.section.hid }))= topic.title
          //-a.mark-i-attach._tip(href="#")=topic.attach_count

          .forum-topicline__meta.hidden-xs
            if fp_user
              a.forum-topicline__author(
                href=self.link_to('users.member', { user_hid: fp_user.hid })
              )= fp_user.name
            time.forum-topicline__time(datetime=self.date(fp_ts, 'iso'))= self.date(fp_ts, 'date')

          .forum-topicline__microstat.visible-xs-block
            = self.t('stat', { count: replies, last: self.date(lp_ts, 'date'), name: lp_user.name })

          .forum-topicline__enter.icon.icon-right-open.visible-xs-block

          .forum-topicline__unread-marker

      ul.forum-topicline__counters.col-sm-2.hidden-xs
        li.forum-topicline__counter-item
          = self.t('replies', replies)

        li.forum-topicline__counter-item
          = self.t('views', views)

      ul.forum-topicline__lpost.col-sm-3.hidden-xs
        li.forum-topicline__lpost-time
          a.forum-topicline__lpost-time-link(href='#')
            time(datetime=self.date(lp_ts, 'iso'))= self.date(lp_ts, 'date')
        if lp_user
          li.forum-topicline__lpost-user
            a.forum-topicline__lpost-user-link._ucard-popover(
              href=self.link_to('users.member', { user_hid: lp_user.hid })
              data-user-id=lp_user._id
            )= lp_user.name

    //- cover all space with link for small screens
    a.forum-topicline__overlay.visible-xs-block(href=self.link_to('forum.topic', { hid: topic.hid, section_hid: self.section.hid }))
