- var types = '$$ JSON.stringify(N.models.users.Subscription.types) $$'

.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content.list-group

      a.subscription-dlg__item.list-group-item(href='#'
        data-on-click=self.apiPath + ':select'
        data-type=types.WATCHING
        class=self.subscription === types.WATCHING ? 'active' : ''
      )
        h4.subscription-dlg__item-heading.list-group-item-heading
          span.icon.icon-track-watching
          =' '
          =self.t('watching')
        p.subscription-dlg__item-text.list-group-item-text=self.t('watching_desc')

      a.subscription-dlg__item.list-group-item(href='#'
        data-on-click=self.apiPath + ':select'
        data-type=types.TRACKING
        class=self.subscription === types.TRACKING ? 'active' : ''
      )
        h4.subscription-dlg__item-heading.list-group-item-heading
          span.icon.icon-track-tracking
          =' '
          =self.t('tracking')
        p.subscription-dlg__item-text.list-group-item-text=self.t('tracking_desc')

      a.subscription-dlg__item.list-group-item(href='#'
        data-on-click=self.apiPath + ':select'
        data-type=types.NORMAL
        class=(!self.subscription || self.subscription === types.NORMAL) ? 'active' : ''
      )
        h4.subscription-dlg__item-heading.list-group-item-heading
          span.icon.icon-track-normal
          =' '
          =self.t('normal')
        p.subscription-dlg__item-text.list-group-item-text=self.t('normal_desc')
