form#moderator_select.modal.form-horizontal.fade(autocomplete="off", role='dialog', data-on-submit="admin.forum.section.create_moderator")
  .modal-dialog
    .modal-content

      .modal-header
        button.close(type='button', aria-hidden=true, data-dismiss="modal") &times;
        h4.modal-title #{self.t('title')}

      .modal-body
        .form-group
          input(type="hidden", name="section_id", value=self.section_id)
          label.control-label.col-sm-2 #{self.t('nick')}
          .col-sm-10
            input.form-control(type="text", name="nick", placeholder=self.t('input_nick_placeholder'))

      .modal-footer
        button.btn.btn-secondary(type='button', data-dismiss="modal") #{self.t('button_cancel')}
        button.btn.btn-primary(type='submit') #{self.t('button_accept')}
