#content
  != self.partial('@admin.core.blocks.sidebar_menu', { menu: self.menus.admin })

  .main
    != self.partial('@admin.core.blocks.breadcrumbs', { menu: self.menus.admin, path: self.blocks.breadcrumbs })

    .pull-right: a.btn.btn-primary #{self.t('new_section')}

    h1 #{self.head.title}

    //- Helper to render single section control bar with children list.
    mixin render_section(section)
      li.section-placeholder
      li.section-group
        //- Section's own control bar. 
        .clearfix.section-control(id="section_#{section.fields._id}")
          a.pull-right.section-delete-button(data-bind="click: destroy") #{self.t('delete_section')}

          a.pull-right.dropdown-toggle.section-moderators-list(data-toggle="dropdown")
            span(data-bind="text: moderatorsInfo")
            span.caret

          ul.pull-right.dropdown-menu
            // ko foreach: moderator_list
            li: a(data-bind="text: name, attr: { href: href }")
            // /ko
            li.divider(data-bind="visible: hasModerators")
            li: a(href="#", data-bind="click: newModerator") #{self.t('add_moderator')}

          //- U+21F5 (DOWNWARDS ARROW LEFTWARDS OF UPWARDS ARROW)
          .pull-left.section-handle.section-drag-mark ⇵

          a.section-title(data-bind="text: title, attr: { href: href }")

        //- Section's children list.
        ul.section-children.section-list.section-draggable
          each child in section.children
            mixin render_section(child)
          li.section-placeholder

    //- Root sections list
    ul.section-list.section-draggable
      each section in self.sections
        mixin render_section(section)
      li.section-placeholder

    //- Raw data for client-side Knockout bindings.
    - self.add_raw_data('sections', self.sections)
    - self.add_raw_data('users',    self.users)
