//- Helper to render single section control bar with children list.
mixin render_sections_tree(sections, level)
  ul.section-list.section-draggable(class=(level > 0 ? 'section-children' : ''))
    each section in sections
      li.section-placeholder
      li.section-group
        //- Section's own control bar. 
        .clearfix.section-control(data-id=section._id.toString(), data-display-order=section.display_order)
          a.pull-right.section-delete-button(href="#", data-on-click="admin.forum.section.destroy") #{self.t('delete_section')}

          a.pull-right.dropdown-toggle.section-moderators-list(data-toggle="dropdown")
            = self.t('moderators_info', { count: section.own_moderator_list.length })
            span.caret

          ul.pull-right.dropdown-menu
            each moderator_id in section.own_moderator_list
              li
                a(href=self.link_to('admin.forum.moderator.edit', { section_id: section._id, user_id: moderator_id }))
                  = self.users[moderator_id]._uname

            if 0 !== section.own_moderator_list.length
              li.divider

            li
              a(href="#", data-on-click="admin.forum.section.select_moderator")
                = self.t('add_moderator')

          //- U+21F5 (DOWNWARDS ARROW LEFTWARDS OF UPWARDS ARROW)
          .pull-left.section-handle.section-drag-mark ⇵

          a.section-title(href=self.link_to('admin.forum.section.edit', { _id: section._id }))
            = section.title

        //- Section's children list.
        mixin render_sections_tree(section.children, level + 1)

    //- Tail placeholder.
    li.section-placeholder


#content
  != self.partial('@admin.core.blocks.sidebar_menu', { menu: self.runtime.menus.admin })

  .main
    != self.partial('@admin.core.blocks.breadcrumbs', { menu: self.runtime.menus.admin, path: self.blocks.breadcrumbs })

    .pull-right: a.btn.btn-primary(href=self.link_to('admin.forum.section.new')) #{self.t('new_section')}

    h1 #{self.head.title}

    mixin render_sections_tree(self.sections, 0)
