- if (self.show_page_number)
  .pl-head= self.t('page_separator', { page: self.show_page_number })

- each post in self.posts
  article.forum-post.clearfix(id='post#{post.id}', itemscope, itemtype='http://schema.org/WebPageElement')
    footer.post-meta.clearfix
      - if (self.users[post.user])
        a.usercard-popover.post-author.pull-left(
          href=self.link_to('users.member', self.users[post.user]),
          data-user-id=String(post.user)) #{self.users[post.user]._uname}
      .pull-right
        time.post-time(itemprop='datePublished', datetime=self.date(post.ts, 'iso')) #{self.date(post.ts, 'date')}
        - var _post_anchor = self.link_to('forum.thread', self.thread) + '#post' + post.id;
        a.post-permalink(href=_post_anchor) #
        input.post-check(type='checkbox')
    .post-aside
      - if (self.users[post.user])
        a.post-userpic(href='#')
          img.av-xl(alt='#{self.users[post.user]._uname}',src='http://lorempixel.com/150/150/sports/a' + '#{self.users[post.user].id}')
      - else
        .av-xl
    .post-content
      .message= post.text
      footer.post-controls.clearfix
        ul.pull-left
          li: a.post-action(href='#')= self.t('report')
          li: a.post-action(href='#')= self.t('ip_show')
        ul.pull-right
          li: a.post-action.icon-reply(href='#')= self.t('reply')
          li: a.post-action(href='#')= self.t('edit')
          li: a.post-action(href='#')= self.t('delete')
          li
            a.vote-up.icon-vote-up(href='#')
            span.vote-count +47
            a.vote-down.icon-vote-down(href='#')
