- var status = { topic: { OPEN: 1, CLOSED: 2, PINNED: 3, PENDING: 4, DELETED: 5, DELETED_HARD: 6, HB: 7 }, post: { VISIBLE: 1, HB: 2, PENDING: 3, DELETED: 4, DELETED_HARD: 5 } };
- self.users = self.users || [];

- if (self.show_page_number)
  .forum-postlist__separator= self.t('page_separator', self.show_page_number)

each post in self.posts
  - var user = self.users[post.user];
  article.forum-post.clearfix(id='post#{post._id}', data-user-hid=user.hid, itemscope, itemtype='http://schema.org/WebPageElement')
    footer.forum-post__meta.clearfix
      .forum-post__meta-blk.pull-right
        time.forum-post__time(
          itemprop='datePublished'
          datetime=self.date(post.ts, 'iso')
        ) #{self.date(post.ts, 'date')}
        - var _post_anchor = self.link_to('forum.topic', { hid: self.topic.hid, section_hid: self.section.hid }) + '#post' + post._id;
        a.forum-post__link.icon.icon-link(href=_post_anchor)
        input.forum-post__check(type='checkbox')
      .forum-post__meta-blk.pull-left
        if user
          a.forum-post__author._ucard-popover(
            href=self.link_to('users.member', { user_hid: user.hid })
            data-user-id=post.user
          ) #{user.name}
    .forum-post__aside
      if user
        a.forum-post__userpic(href='#')
          img.av-l(alt='#{user.name}' src=self.link_to('core.gridfs', { bucket: user.avatar_id }))
      else
        .av-l
    .forum-post__content
      .forum-post__message !{post.html}

      !=self.partial('@forum.blocks.posts_list.attachments', { post: post, user: user })

      footer.forum-post__controls.clearfix
        ul.forum-post__controls-blk.pull-left
          li.forum-post__control-item
            a.forum-post__action-link(href='#')= self.t('report')
          li.forum-post__control-item
            a.forum-post__action-link(href='#')= self.t('ip_show')
        ul.forum-post__controls-blk.pull-right

          if (self.settings.forum_can_reply && (self.topic.st === status.topic.OPEN || self.topic.st === status.topic.OPEN))
            li.forum-post__control-item
              a.forum-post__action-link.icon.icon-space-after.icon-dimmed.icon-reply(
                href='#'
                data-on-click='forum.topic.post_reply'
                data-post-id=post._id
              )= self.t('reply')

          if (user._id === self.runtime.user_id && (self.settings.forum_edit_max_time === 0 || post.ts > Date.now() - self.settings.forum_edit_max_time * 60 * 1000))
            li.forum-post__control-item
              a.forum-post__action-link(
                href='#'
                data-on-click='forum.topic.post_edit'
                data-post-id='#{post._id}'
              )= self.t('edit')

            li.forum-post__control-item
              a.forum-post__action-link(
                href='#'
                data-on-click='forum.topic.post_delete'
                data-post-id='#{post._id}'
              )= self.t('delete')

          li.forum-post__control-item
            a.forum-post__vote-down.icon.icon-vote-down(href='#')
            span.forum-post__vote-count +47
            a.forum-post__vote-up.icon.icon-vote-up(href='#')

          if (self.settings.forum_mod_can_edit_posts || self.settings.forum_mod_can_delete_posts)
            li.forum-post__control-item
              .dropdown
                button.btn.btn-link.dropdown-toggle(data-toggle='dropdown')
                  span.caret
                ul.dropdown-menu
                  li.presentation
                    if (self.settings.forum_mod_can_edit_posts)
                      a(
                        href='#'
                        data-on-click='forum.topic.post_edit'
                        data-post-id='#{post._id}'
                        data-moderator-action='true'
                      )= self.t('edit')
                    if (self.settings.forum_mod_can_delete_posts)
                      a(
                        href='#'
                        data-on-click='forum.topic.post_delete'
                        data-post-id='#{post._id}'
                        data-moderator-action='true'
                      )= self.t('delete')
