- self.add_raw_data('items_per_page', self.items_per_page)

article#content.search-forum-topic
  != self.partial('@common.blocks.navbar.logo_apps')

  .layout__container.container-fluid.space-top
    != self.partial('@users.blocks.announces')

    header.page-head
      h1.page-head__title(itemprop='name')= self.t('title')

    form.search-form(data-on-submit='search.forum_topic:search')

      input(type='hidden', name='type', value=self.type || self.content_types[0])
      input(type='hidden', name='hid', value=self.hid)

      .search-form__input-container
        .input-group
          input.search-form__query.form-control(
            type='text'
            name='query'
            value=self.query
          )
          span.input-group-btn
            button.search-form__submit.btn.btn-outline-secondary(
              type='submit'
            )= self.t('search')

        -
          var query = {};

          [ 'query', 'type', 'sort', 'period' ].forEach(function (param) {
            if (self[param]) query[param] = self[param];
          });

        .search-form__meta
          a.search-form__options-toggle(
            href='#search_options'
            data-on-click='search.forum_topic:search_options'
          )= self.t('options')

      #search_options.collapse
        .search-form__options-inner
          .row
            .col-lg-3.col-md-4.col-sm-6.col-12.mb-2.mb-sm-0
              select.form-control.form-select(
                name='sort'
                onchange="$('.search-form__submit').click();"
              )
                each type, i in self.sort_types
                  option(value=type, selected=(self.sort === type))= self.t('sort.' + type)

            .col-lg-3.col-md-4.col-sm-6.col-12
              select.form-control.form-select(
                name='period'
                onchange="$('.search-form__submit').click();"
              )
                each type, i in self.period_types
                  option(value=type, selected=(self.period === type))= self.t('period.' + type)

    span.search-filter
      span.search-filter__title= self.filter_title
      a.search-filter__remove.icon.icon-x(
        href=self.link_to('search.general', { $query: query })
      )

    .search-results
      //- this gets replaced by 'results' partial when search is performed
