- self.add_raw_data('items_per_page', self.items_per_page)

article#content.search-forum-topic
  != self.partial('@common.blocks.navbar.logo_apps')

  .layout__container.container-fluid.space-top._affix(
    data-affix-bottom={
      offset:     500,
      wire_below: 'search.forum_topic:load_next',
      throttle:   100
    }
  )
    != self.partial('@users.blocks.announces')

    header.page-head
      h1.page-head__title(itemprop='name')= self.t('title')

    form.search-form(data-on-submit='search.forum_topic:search')

      input(
        type='hidden'
        name='type'
        value=self.type || self.content_types[0]
      )

      .search-form__input-container
        .input-group
          input.search-form__query.form-control(
            type='text'
            name='query'
            value=self.query
          )
          span.input-group-btn
            button.search-form__submit.btn.btn-outline-secondary(
              type='submit'
            )= self.t('search')

        .search-form__meta
          a.search-form__options-toggle(
            href='#search_options'
            data-on-click='search.forum_topic:search_options'
          )= self.t('options')

      #search_options.collapse
        .search-form__options-inner
          .row
            .col-lg-3.col-md-4.col-sm-6.col-12.mb-2.mb-sm-0
              select.form-control.custom-select(
                name='sort'
                onchange="$('.search-form__submit').click();"
              )
                each type, i in self.sort_types
                  option(value=type, selected=(self.sort === type))= self.t('sort.' + type)

            .col-lg-3.col-md-4.col-sm-6.col-12
              select.form-control.custom-select(
                name='period'
                onchange="$('.search-form__submit').click();"
              )
                each type, i in self.period_types
                  option(value=type, selected=(self.period === type))= self.t('period.' + type)

    .search-results
      //- this gets replaced by 'results' partial when search is performed
